@using PagedList.Mvc
@model MyTeam.Models.BusiReqQuery
@{
    ViewBag.Title = "业务需求管理";
}
<h2>@ViewBag.Title</h2>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script>
    function doDelete(id, name) {
        $('#toDelName').html(name);
        $('#toDelId').val(id);
        $('#myModal').modal({ backdrop: 'static' });
    }

    function realDelete() {
        var id = $('#toDelId').val();
        var url = "/BusiReq/Delete/" + id;
        $.ajax({
            type: 'POST',
            url: url,
            success: function (msg) {
                $('#procResult').html(msg);
            },
            error: function () {
                $('#procResult').html("处理失败，请联系管理员");
            },
            complete: function () {
                $('#myModal2').modal({ backdrop: 'static' });
            }
        });
    }

    // 在modal中编辑
    function doEdit(id, name) {
        $('#editName').html(name);
        var url = "/BusiReq/Edit/" + id;
        $.ajax({
            type: 'GET',
            url: url,
            success: function (msg) {
                $('#EditMain').html(msg);
            },
            error: function () {
                $('#EditMain').html("处理失败，请联系管理员");
            },
            complete: function () {
                $('#myModal3').modal({ backdrop: 'static' });
            }
        });
    }
    // 在modal中新增
    function doCreate() {
        var url = "/BusiReq/Create";
        $.ajax({
            type: 'GET',
            url: url,
            success: function (msg) {
                $('#Create').html(msg);
            },
            error: function () {
                $('#Create').html("处理失败，请联系管理员");
            },
            complete: function () {
                $('#myModal4').modal({ backdrop: 'static' });
            }
        });
    }
    // 导出跟踪表
    function doExport() {
        var brProjId = $('#BRProjID').val();
        if (brProjId.length == 0 || brProjId == 0) {
            showAlertWithDefaultTitle("导出需求变更跟踪表时必须选择具体的某个项目！");
            return;
        }
        $('#myForm').attr("action", "/BusiReq/Export").submit();
    }
</script>
<div class="row card">
    <div class="col-md-10">
        @using (Html.BeginForm("Index", "BusiReq", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Get,
                        new { @class = "form-horizontal", role = "form", id = "myForm" }))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <input type="hidden" name="isQuery" value="True" />
            <table class="table table-condensed query-table">
                <tr>
                    <td>@Html.LabelFor(model => model.BRProjID, new { @class = "control-label" })</td>
                    <td>
                        <!--业需项目下拉选择-->
                        @Html.DropDownListFor(model => model.BRProjID, ViewBag.BRProjLs as SelectList, new { @class = "form-control" })
                    </td>
                    <td>
                        <input type="submit" value="查询" class="btn btn-default" />
                        <input type="button" onclick="doCreate()" class="btn btn-default" value="新增一条" />
                        @Html.ActionLink("批量导入", "Import", null, new { @class = "btn btn-default" })
                        <a href="###" class="btn btn-primary" onclick="doExport()">导出需求变更跟踪表</a>
                    </td>
                </tr>
            </table>

        }
    </div>
</div>
@if (Model.ResultList != null)
{
    <h3>查询结果</h3>
    <div class="row card">

        @if (Model.ResultList.Count < 1)
                {
            <p class="alert alert-warning">没有符合条件的结果！</p>
        }
        else
        {
            <table class="table table-condensed table-bordered" style="font-size:0.8em;table-layout:fixed" width="100">
                <tr>
                    <th width="6"></th>
                    <th width="15">
                        @Html.DisplayNameFor(model => model.ResultList[0].BRProjID)
                    </th>
                    <th width="10">
                        @Html.DisplayNameFor(model => model.ResultList[0].BusiReqNo)
                    </th>
                    <th width="15">
                        @Html.DisplayNameFor(model => model.ResultList[0].BusiReqName)
                    </th>
                    <th width="24">
                        @Html.DisplayNameFor(model => model.ResultList[0].Desc)
                    </th>
                    <th width="10">
                        @Html.DisplayNameFor(model => model.ResultList[0].CreateDate)
                    </th>
                    <th width="10">
                        @Html.DisplayNameFor(model => model.ResultList[0].Stat)
                    </th>
                    <th width="10">
                        @Html.DisplayNameFor(model => model.ResultList[0].Remark)
                    </th>
                </tr>
                @foreach (var item in Model.ResultList)
                    {
                    <tr>
                        <td>
                            <a href="###" onclick="doEdit('@item.BRID','@item.ProjName')">编辑</a>
                            | <a href="###" onclick="doDelete('@item.BRID','@item.ProjName @item.BusiReqName')">删除</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProjName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BusiReqNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BusiReqName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Desc)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreateDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Stat)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Remark)
                        </td>
                    </tr>
                }
            </table>
                <!--分页-->
                    @Html.PagedListPager(list: Model.ResultList as PagedList.IPagedList<MyTeam.Models.BusiReq>,
         generatePageUrl: Page => Url.Action("Index", new { pageNum = Page, isQuery = true, BRProjID = Model.BRProjID }))
        }
    </div>
}

<!-- 对话框1：确认删除 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    确认删除？
                </h4>
            </div>
            <div class="modal-body">
                确定要删除【<span id="toDelName"></span>】吗？
                <input type="hidden" id="toDelId" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    取消
                </button>
                <button type="button" class="btn btn-primary" onclick="realDelete()" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<!-- 对话框2：删除完成 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog"
     aria-labelledby="myModal2Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    处理结果
                </h4>
            </div>
            <div class="modal-body">
                <span id="procResult"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="javascript:window.location.reload()">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 对话框3：编辑页面 -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    【<span id="editName"></span>】编辑
                </h4>
            </div>
            <div class="modal-body">
                <div id="EditMain"></div>
            </div>
        </div>
    </div>
</div>

<!-- 对话框4：新增页面 -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    业务需求项目新增
                </h4>
            </div>
            <div class="modal-body">
                <div id="Create"></div>
            </div>
        </div>
    </div>
</div>