<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MyTeam(beta)</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home/Index">零售团队管理系统</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-target="#">
                            维护需求管理
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/ReqManage/MainInPool">快速入池</a></li>
                            <li><a href="/ReqManage/Bat">批量出池/删除</a></li>
                            <li><a href="/ReqManage/Index">维护需求管理</a></li>
                            <li><a href="/ReqManage/OutPool">出池计划报表</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-target="#">
                            工作周报
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/WeekReport/MainIndex">重点项目与工作</a></li>
                            <li><a href="/WeekReport/DetailIndex">每周工作</a></li>
                            <li><a href="/WeekReport/RiskIndex">风险与待协调问题</a></li>
                            <li><a href="/WeekReport/Export">导出周报</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-target="#">
                            系统管理
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">                           
                            <li><a href="/SysManage">零售系统列表管理</a></li>
                            <li><a href="/Ver">年度版本计划管理</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-target="#">
                            项目管理
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/Proj">项目状态跟踪</a></li>
                            <li><a href="/ProjSurv">需求调研管理</a></li>
                            <li><a href="/ProjMeeting">需求会议管理</a></li>
                            <li><a href="/ReqTrack">业需软需状态跟踪管理</a></li>
                        </ul>
                    </li>
                    @if (Session["IsAdmin"] != null && (bool)Session["IsAdmin"])
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-target="#">
                                管理员相关
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/User">用户管理</a></li>
                            </ul>
                        </li>
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Made by Zhou Meng</p>
        </footer>
    </div>
</body>
</html>
