@{
    Layout = null;
}
@model MyTeam.Models.ProjMeeting

@if (Model == null)
{
    <div class="alert alert-warning">无此记录</div>
    @Html.ActionLink("返回", "Index", null, new { @class = "btn btn-default" })
    return;
}

<script language="javascript" type="text/javascript" src="~/Scripts/My97DatePicker/WdatePicker.js"></script>
<script>
    function hideForm() {
        if ($('#info > p').attr('class') == 'alert alert-success')
            $('form').hide()
    }
</script>

<div class="row">
    <div class="col-md-12">
        @using (Ajax.BeginForm("Edit", "ProjMeeting", null, new AjaxOptions { UpdateTargetId = "info", OnComplete="hideForm"},
                new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(model => model.MeetingID)


    <div class="form-group">
        @Html.LabelFor(model => model.ProjID, new { @class = "col-md-3 control-label" })

        <div class="col-md-9">
            @Html.DropDownListFor(model => model.ProjID, ViewBag.ProjList as SelectList, new { @class = "form-control" })
        </div>
    </div>
            <div class="form-group">
                @Html.LabelFor(model => model.MeetingTopic, new { @class = "col-md-3 control-label" })

                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.MeetingTopic, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MeetingTopic, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.MeetingType, new { @class = "col-md-3 control-label" })

                <div class="col-md-9">
                    <!--需求会议类型列表-->
                    @Html.DropDownListFor(model => model.MeetingType, ViewBag.MeetingTypeList as SelectList, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.HostDept, new { @class = "col-md-3 control-label" })

                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.HostDept, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.HostDept, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.HostPerson, new { @class = "col-md-3 control-label" })

                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.HostPerson, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.HostPerson, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ReviewExpert, new { @class = "col-md-3 control-label" })

                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.ReviewExpert, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ReviewExpert, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Participants, new { @class = "col-md-3 control-label" })

                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.Participants, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Participants, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.MeetingDate, new { @class = "col-md-3 control-label" })

                <div class="col-md-9">
                    @Html.EditorFor(model => model.MeetingDate, "DateTime")
                    @Html.ValidationMessageFor(model => model.MeetingDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.NoticeNo, new { @class = "col-md-3 control-label" })

                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.NoticeNo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.NoticeNo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ReviewConclusion, new { @class = "col-md-3 control-label" })

                <div class="col-md-9">
                    <!--需求会议评审结果列表-->
                    @Html.DropDownListFor(model => model.ReviewConclusion, ViewBag.ReviewConclusionList as SelectList, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.MeetingConclusion, new { @class = "col-md-3 control-label" })

                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.MeetingConclusion, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MeetingConclusion, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Stat, new { @class = "col-md-3 control-label" })

                <div class="col-md-9">
                    <!--需求会议当前状态列表-->
                    @Html.DropDownListFor(model => model.Stat, ViewBag.StatList as SelectList, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Remark, new { @class = "col-md-3 control-label" })

                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.Remark, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
                </div>
            </div>

    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <input type="submit" value="保存" class="btn btn-primary" />
            <button type="button" class="btn btn-default" data-dismiss="modal">
                关闭
            </button>
        </div>
    </div>

        }
        <div id="info"></div>
    </div>
</div>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
