@model IEnumerable<MyTeam.Models.ProjMeeting>


@{
    ViewBag.Title = "添加需求会议记录";

}

<h2>@ViewBag.Title。</h2>


<p>
    @Html.ActionLink("添加需求会议记录", "Create", null, new { @class= "btn btn-primary"})
</p>

<!-- Ajax删除 -->
<script>
    function doDelete(id) {
        if (confirm("确定要删除？")) {
            var url = "/ProjMeeting/Delete/" + id;
            $.ajax({
                type: 'POST',
                url: url,
                success: function (msg) {
                    alert(msg);
                    window.location.reload();
                },
                error: function () {
                    alert("处理失败，请联系管理员");
                }
            });
        }
    }
</script>

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.ProjID)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.MeetingTopic)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.MeetingType)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.MeetingDate)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ReviewConclusion)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Stat)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.ProjName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.MeetingTopic)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.MeetingType)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.MeetingDate)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.ReviewConclusion)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Stat)
        </td>

        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.MeetingID }) |
            @Html.ActionLink("详情", "Details", new { id=item.MeetingID }) |
			<a href="#" onclick="doDelete('@item.MeetingID')">删除</a>
        </td>

    </tr>
}

</table>



