@{
    Layout = null;
}

@model MyTeam.Models.ProjPlan


@if (Model == null)
{
    <div class="alert alert-warning">无此记录</div>
    return;
}

<div class="row">
    <div class="col-md-12 form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.PlanYear, new { @class = "col-md-4 control-label" })
            <div class="col-md-8 form-control-static">
                @Html.DisplayFor(model => model.PlanYear)
            </div>
        </div>
            <div class="form-group">
                @Html.LabelFor(model => model.FoundGroupDate, new { @class = "col-md-4 control-label" })
                <div class="col-md-8 form-control-static">
                    @Html.DisplayFor(model => model.FoundGroupDate)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OutlineStartDate, new { @class = "col-md-4 control-label" })
                <div class="col-md-8 form-control-static">
                    @Html.DisplayFor(model => model.OutlineStartDate)
                </div>

            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OutlineFinishDate, new { @class = "col-md-4 control-label" })

                <div class="col-md-8 form-control-static">
                    @Html.DisplayFor(model => model.OutlineFinishDate)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ReqStartDate, new { @class = "col-md-4 control-label" })
                <div class="col-md-8 form-control-static">
                    @Html.DisplayFor(model => model.ReqStartDate)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ReqFinishDate, new { @class = "col-md-4 control-label" })

                <div class="col-md-8 form-control-static">
                    @Html.DisplayFor(model => model.ReqFinishDate)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ReviewStartDate, new { @class = "col-md-4 control-label" })

                <div class="col-md-8 form-control-static">
                    @Html.DisplayFor(model => model.ReviewStartDate)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ReviewFinishDate, new { @class = "col-md-4 control-label" })

                <div class="col-md-8 form-control-static">
                    @Html.DisplayFor(model => model.ReviewFinishDate)
                </div>
            </div>
       
            <div class="form-group">
                @Html.LabelFor(model => model.BusiFeasiStartDate, new { @class = "col-md-4 control-label" })

                <div class="col-md-8 form-control-static">
                    @Html.DisplayFor(model => model.BusiFeasiStartDate)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.BusiFeasiFinishDate, new { @class = "col-md-4 control-label" })

                <div class="col-md-8 form-control-static">
                    @Html.DisplayFor(model => model.BusiFeasiFinishDate)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.TechFeasiStartDate, new { @class = "col-md-4 control-label" })

                <div class="col-md-8 form-control-static">
                    @Html.DisplayFor(model => model.TechFeasiStartDate)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.TechFeasiFinishDate, new { @class = "col-md-4 control-label" })

                <div class="col-md-8 form-control-static">
                    @Html.DisplayFor(model => model.TechFeasiFinishDate)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.TechFeasiReviewStartDate, new { @class = "col-md-4 control-label" })

                <div class="col-md-8 form-control-static">
                    @Html.DisplayFor(model => model.TechFeasiReviewStartDate)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.TechFeasiReviewFinishDate, new { @class = "col-md-4 control-label" })

                <div class="col-md-8 form-control-static">
                    @Html.DisplayFor(model => model.TechFeasiReviewFinishDate)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.SoftBudgetStartDate, new { @class = "col-md-4 control-label" })

                <div class="col-md-8 form-control-static">
                    @Html.DisplayFor(model => model.SoftBudgetStartDate)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.SoftBudgetFinishDate, new { @class = "col-md-4 control-label" })

                <div class="col-md-8 form-control-static">
                    @Html.DisplayFor(model => model.SoftBudgetFinishDate)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ImplementPlansStartDate, new { @class = "col-md-4 control-label" })

                <div class="col-md-8 form-control-static">
                    @Html.DisplayFor(model => model.ImplementPlansStartDate)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ImplementPlansFinishDate, new { @class = "col-md-4 control-label" })

                <div class="col-md-8 form-control-static">
                    @Html.DisplayFor(model => model.ImplementPlansFinishDate)
                </div>
            </div>
    </div>
</div>

