@{
    Layout = null;
}
@model MyTeam.Models.ProjPlan
@if (Model == null)
{
    <div class="alert alert-warning">无此记录</div>
    @Html.ActionLink("返回", "Index", null, new { @class = "btn btn-default" })
    return;
}
<script language="javascript" type="text/javascript" src="~/Scripts/My97DatePicker/WdatePicker.js"></script>
<script>
    function hideForm() {
        if ($('#info > p').attr('class') == 'alert alert-success')
            $('form').hide()
    }
</script>
<div class="row">
    <div class="col-md-12">
        @using (Ajax.BeginForm("Edit", "ProjPlan", null, new AjaxOptions { UpdateTargetId = "info", OnComplete = "hideForm" },
                new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(model => model.PlanID)
            @Html.HiddenFor(model => model.OldProjID);

            <div class="form-group">
                @Html.LabelFor(model => model.ProjID, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.ProjID, ViewBag.ProjList as SelectList, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PlanYear, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    <input id="PlanYear" name="PlanYear" value="@Model.PlanYear" type="number" min="2010" max="2100" class="form-control" />

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FoundGroupDate, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.FoundGroupDate, "DateTime")
                    @Html.ValidationMessageFor(model => model.FoundGroupDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.OutlineStartDate, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.OutlineStartDate, "DateTime")
                    @Html.ValidationMessageFor(model => model.OutlineStartDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.OutlineFinishDate, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.OutlineFinishDate, "DateTime")
                    @Html.ValidationMessageFor(model => model.OutlineFinishDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ReqStartDate, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ReqStartDate, "DateTime")
                    @Html.ValidationMessageFor(model => model.ReqStartDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ReqFinishDate, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ReqFinishDate, "DateTime")
                    @Html.ValidationMessageFor(model => model.ReqFinishDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ReviewStartDate, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ReviewStartDate, "DateTime")
                    @Html.ValidationMessageFor(model => model.ReviewStartDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ReviewFinishDate, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ReviewFinishDate, "DateTime")
                    @Html.ValidationMessageFor(model => model.ReviewFinishDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.BusiFeasiStartDate, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.BusiFeasiStartDate, "DateTime")
                    @Html.ValidationMessageFor(model => model.BusiFeasiStartDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.BusiFeasiFinishDate, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.BusiFeasiFinishDate, "DateTime")
                    @Html.ValidationMessageFor(model => model.BusiFeasiFinishDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.TechFeasiStartDate, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.TechFeasiStartDate, "DateTime")
                    @Html.ValidationMessageFor(model => model.TechFeasiStartDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.TechFeasiFinishDate, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.TechFeasiFinishDate, "DateTime")
                    @Html.ValidationMessageFor(model => model.TechFeasiFinishDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.TechFeasiReviewStartDate, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.TechFeasiReviewStartDate, "DateTime")
                    @Html.ValidationMessageFor(model => model.TechFeasiReviewStartDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.TechFeasiReviewFinishDate, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.TechFeasiReviewFinishDate, "DateTime")
                    @Html.ValidationMessageFor(model => model.TechFeasiReviewFinishDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.SoftBudgetStartDate, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.SoftBudgetStartDate, "DateTime")
                    @Html.ValidationMessageFor(model => model.SoftBudgetStartDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.SoftBudgetFinishDate, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.SoftBudgetFinishDate, "DateTime")
                    @Html.ValidationMessageFor(model => model.SoftBudgetFinishDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ImplementPlansStartDate, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ImplementPlansStartDate, "DateTime")
                    @Html.ValidationMessageFor(model => model.ImplementPlansStartDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ImplementPlansFinishDate, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ImplementPlansFinishDate, "DateTime")
                    @Html.ValidationMessageFor(model => model.ImplementPlansFinishDate, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <input type="submit" value="保存" class="btn btn-primary" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                </div>
            </div>
        }
        <div id="info"></div>
    </div>
</div>
<script src="/Scripts/jquery.validate.js"></script>
<script src="/Scripts/jquery.validate.unobtrusive.js"></script>