@using PagedList.Mvc
@model MyTeam.Models.ProjPlanQuery

@{
    ViewBag.Title = "项目计划管理";

}
<h2>@ViewBag.Title</h2>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<!-- Ajax删除 -->
<script>
    function doDelete(id, name) {
        $('#toDelName').html(name);
        $('#toDelId').val(id);
        $('#myModal').modal({ backdrop: 'static' });
    }

    function realDelete() {
        var id = $('#toDelId').val();
        var url = "/ProjPlan/Delete/" + id;
        $.ajax({
            type: 'POST',
            url: url,
            success: function (msg) {
                $('#procResult').html(msg);

            },
            error: function () {
                $('#procResult').html("处理失败，请联系管理员");
            },
            complete: function () {
                $('#myModal2').modal({ backdrop: 'static' });
            }
        });
    }

    // 在modal中编辑
    function doEdit(id, name) {
        $('#editName').html(name);
        var url = "/ProjPlan/Edit/" + id;
        $.ajax({
            type: 'GET',
            url: url,
            success: function (msg) {
                $('#EditMain').html(msg);
            },
            error: function () {
                $('#EditMain').html("处理失败，请联系管理员");
            },
            complete: function () {
                $('#myModal3').modal({ backdrop: 'static' });
            }
        });
    }

    // 在modal中新增
    function doCreate() {
        var id = $('#ProjID').val();

        var url = "/ProjPlan/Create/" + id;
        $.ajax({
            type: 'GET',
            url: url,
            success: function (msg) {
                $('#Create').html(msg);
            },
            error: function () {
                $('#Create').html("处理失败，请联系管理员");
            },
            complete: function () {
                $('#myModal4').modal({ backdrop: 'static' });
            }
        });
    }

    // 在modal中显示详情
    function showDetail(id, name) {
        $('#detailName').html(name);
        var url = "/ProjPlan/Details/" + id;
        $.ajax({
            type: 'GET',
            url: url,
            success: function (msg) {
                $('#detailMain').html(msg);
            },
            error: function () {
                $('#detailMain').html("处理失败，请联系管理员");
            },
            complete: function () {
                $('#myModal5').modal({ backdrop: 'static' });
            }
        });
    }
</script>
<div class="row card">
    <div class="col-md-8">
        @using (Html.BeginForm("Index", "ProjPlan", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Get,
                        new { @class = "form-horizontal", role = "form", id = "myForm" }))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <input type="hidden" name="isQuery" value="True" />

            <table class="table table-condensed query-table">
                <tr>
                    <td>@Html.LabelFor(model => model.ProjID, new { @class = "control-label" })</td>
                    <td>
                        <!--项目下拉选择-->
                        @Html.DropDownListFor(model => model.ProjID, ViewBag.ProjList as SelectList, new { @class = "form-control" })
                    </td>
                    <td>@Html.LabelFor(model => model.PlanYear, new { @class = "control-label" })</td>
                    <td>
                        <input id="PlanYear" name="PlanYear" type="number" min="2010" max="2100" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <input type="submit" value="查询" class="btn btn-primary" />
                        <input type="button" onclick="doCreate()" class="btn btn-default" value="新增一条" />
                        @Html.ActionLink("批量导入", "Import", null, new { @class = "btn btn-default" })
                    </td>
                </tr>
            </table>
            <span style="color:red">NEWS: 现在可以直接在<a href="/Proj/Index">项目/专项工作管理</a>页面管理项目计划了！</span>
        }
    </div>
</div>

@if (Model.ResultList != null)
{
    <h3>查询结果</h3>
    <div class="row card">
        @if (Model.ResultList.Count < 1)
        {
            <p class="alert alert-warning">没有符合条件的结果！</p>
        }
        else
        {
            <table class="table table-condensed table-bordered table-query-result">
                <tr>
                    <th width="20"></th>
                    <th width="40">
                        @Html.DisplayNameFor(model => model.ResultList[0].ProjID)
                    </th>
                    <!--<th width="5">
                        @Html.DisplayNameFor(model => model.ResultList[0].FoundGroupDate)
                    </th>
                    <th width="5">
                        @Html.DisplayNameFor(model => model.ResultList[0].OutlineStartDate)
                    </th>
                    <th width="5">
                        @Html.DisplayNameFor(model => model.ResultList[0].OutlineFinishDate)
                    </th>
                    <th width="5">
                        @Html.DisplayNameFor(model => model.ResultList[0].ReqStartDate)
                    </th>
                    <th width="5">
                        @Html.DisplayNameFor(model => model.ResultList[0].ReqFinishDate)
                    </th>
                    <th width="5">
                        @Html.DisplayNameFor(model => model.ResultList[0].ReviewStartDate)
                    </th>
                    <th width="5">
                        @Html.DisplayNameFor(model => model.ResultList[0].ReviewFinishDate)
                    </th>
                    <th width="5">
                        @Html.DisplayNameFor(model => model.ResultList[0].BusiFeasiStartDate)
                    </th>
                    <th width="5">
                        @Html.DisplayNameFor(model => model.ResultList[0].BusiFeasiFinishDate)
                    </th>
                    <th width="5">
                        @Html.DisplayNameFor(model => model.ResultList[0].TechFeasiStartDate)
                    </th>
                    <th width="5">
                        @Html.DisplayNameFor(model => model.ResultList[0].TechFeasiFinishDate)
                    </th>
                    <th width="5">
                        @Html.DisplayNameFor(model => model.ResultList[0].TechFeasiReviewStartDate)
                    </th>
                    <th width="5">
                        @Html.DisplayNameFor(model => model.ResultList[0].TechFeasiReviewFinishDate)
                    </th>
                    <th width="5">
                        @Html.DisplayNameFor(model => model.ResultList[0].SoftBudgetStartDate)
                    </th>
                    <th width="5">
                        @Html.DisplayNameFor(model => model.ResultList[0].SoftBudgetFinishDate)
                    </th>
                    <th width="5">
                        @Html.DisplayNameFor(model => model.ResultList[0].ImplementPlansStartDate)
                    </th>
                    <th width="5">
                        @Html.DisplayNameFor(model => model.ResultList[0].ImplementPlansFinishDate)
                    </th>
                        -->
                    <th width="40">
                        @Html.DisplayNameFor(model => model.ResultList[0].PlanYear)
                    </th>
                </tr>

                @foreach (var item in Model.ResultList)
                {
                    <tr>
                        <td align="center">
                            <a href="###" onclick="doEdit('@item.PlanID','@item.ProjName')">编辑</a> |
                            <a href="###" onclick="showDetail('@item.ProjID','@item.ProjName')">详情</a> |
                            <a href="###" onclick="doDelete('@item.PlanID','@item.ProjName 的项目计划记录')">删除</a>
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.ProjName)
                        </td>
                        <!--
                        <td>
                            @Html.DisplayFor(modelItem => item.FoundGroupDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OutlineStartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OutlineFinishDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReqStartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReqFinishDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReviewStartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReviewFinishDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BusiFeasiStartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BusiFeasiFinishDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TechFeasiStartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TechFeasiFinishDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TechFeasiReviewStartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TechFeasiReviewFinishDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SoftBudgetStartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SoftBudgetFinishDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ImplementPlansStartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ImplementPlansFinishDate)
                        </td>
                            -->
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.PlanYear)
                        </td>
                    </tr>
                }
            </table>
            @Html.PagedListPager(list: Model.ResultList as PagedList.IPagedList<MyTeam.Models.ProjPlan>, generatePageUrl: Page => Url.Action("Index", new { pageNum = Page }) + Model.ToQueryString())
        }
    </div>
}

<!-- 对话框1：确认删除 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    确认删除？
                </h4>
            </div>
            <div class="modal-body">
                确定要删除【<span id="toDelName"></span>】吗？
                <input type="hidden" id="toDelId" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    取消
                </button>
                <button type="button" class="btn btn-primary" onclick="realDelete()" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 对话框2：删除完成 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog"
     aria-labelledby="myModal2Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    处理结果
                </h4>
            </div>
            <div class="modal-body">
                <span id="procResult"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="javascript:window.location.reload()">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 对话框3：编辑页面 -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    【<span id="editName"></span>】项目计划编辑
                </h4>
            </div>
            <div class="modal-body">
                <div id="EditMain"></div>
            </div>
        </div>
    </div>
</div>

<!-- 对话框4：新增页面 -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    项目计划新增
                </h4>
            </div>
            <div class="modal-body">
                <div id="Create"></div>
            </div>
        </div>
    </div>
</div>

<!-- 对话框5：展示详情 -->
<div class="modal fade" id="myModal5" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    【<span id="detailName"></span>】的项目计划表
                </h4>
            </div>
            <div class="modal-body">
                <div id="detailMain"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#ProjID').select2();
</script>