@{
    Layout = null;
}

@model MyTeam.Models.ReqRelease

@if (Model == null)
{
    <div class="alert alert-warning">无此记录</div>    
    return;
}
<script language="javascript" type="text/javascript" src="~/Scripts/My97DatePicker/WdatePicker.js"></script>

<script>
    function hideForm() {
        if ($('#info > p').attr('class') == 'alert alert-success')
            $('#editForm').hide()
    }
</script>

<div class="row">
    <div class="col-md-12">
        <div id="info"></div>
        @using (Ajax.BeginForm("Edit", "ReleaseManage", null, new AjaxOptions { UpdateTargetId = "info", OnComplete = "hideForm" },
                        new { @class = "form-horizontal", role = "form", id= "editForm" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(model => model.ReqReleaseID);
            @Html.HiddenFor(model => model.OldReleaseNo);

            <div class="form-group">
                @Html.LabelFor(model => model.ReleaseNo, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.ReleaseNo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ReleaseNo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PlanReleaseDate, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.PlanReleaseDate, "DateTime")
                    @Html.ValidationMessageFor(model => model.PlanReleaseDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ReleaseDate, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.ReleaseDate, "DateTime")
                    @Html.ValidationMessageFor(model => model.ReleaseDate, "", new { @class = "text-danger" })
                    <span class="text-info">（<b>请注意！</b>对于主下发：若填写了实际下发日期，将自动更新相关需求状态为【办结】；若清空了实际下发日期，将自动更新相关需求状态为【出池】）</span>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IsSideRelease, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.CheckBoxFor(model => model.IsSideRelease, new { @class = "checkbox" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DraftPersonID, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.DraftPersonID, ViewBag.UserList as SelectList, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <input type="submit" value="保存" class="btn btn-primary" />
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="关闭" />
                </div>
            </div>}
    </div>
</div>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>