@using PagedList.Mvc
@model MyTeam.Models.ReleaseQuery
@{
    ViewBag.Title = "下发通知管理";
}
<h3>@ViewBag.Title</h3>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script language="javascript" type="text/javascript" src="~/Scripts/My97DatePicker/WdatePicker.js"></script>
<script>
    function doDelete(id, type) {
        $('#toDelId').val(id);

        $('#myModal').modal({ backdrop: 'static' });
    }

    function realDelete() {
        $('#procResult').html("处理中....");
        $('#myModal2').modal({ backdrop: 'static' });
        var id = $('#toDelId').val();
        var url = "/ReleaseManage/Delete/" + id;
        $.ajax({
            type: 'POST',
            url: url,
            success: function (msg) {
                $('#procResult').html(msg);

            },
            error: function () {
                $('#procResult').html("处理失败，请联系管理员");
            }
        });

    }

    // 在modal中编辑
    function doEdit(id, title) {
        $('#modalTitle').html(title);
        $('#modalBody').html("读取中...");
        $('#myModal3').modal({ backdrop: 'static' });
        if (id == 0)
            var url = "/ReleaseManage/Create";
        else
            var url = "/ReleaseManage/Edit/" + id;

        $.ajax({
            type: 'GET',
            url: url,
            success: function (msg) {
                $('#modalBody').html(msg);
            },
            error: function () {
                $('#modalBody').html("处理失败，请联系管理员");
            }
        });
    }

    // 在modal中管理下发需求
    function doShowReqs(id, reqNo, isSide) {
        $('#detailName').html("管理" + reqNo + "的下发需求");
        $('#detailMain').html("读取中...");
        $('#myModal4').modal({ backdrop: 'static' });

        var url = "/ReqManage/ShowReqs/" + id + "?isSideRelease=" + isSide;

        $.ajax({
            type: 'GET',
            url: url,
            success: function (msg) {
                $('#detailMain').html(msg);
            },
            error: function () {
                $('#detailMain').html("处理失败，请联系管理员");
            }
        });
    }

</script>
<div class="row card">
    @using (Html.BeginForm("Index", "ReleaseManage", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Get,
                                                                                                new { @class = "form-horizontal", role = "form", id = "myForm" }))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <input type="hidden" name="isQuery" value="true" />

        <table class="table table-condensed query-table">
            <tr>
                <td>@Html.LabelFor(model => model.ReleaseNo, new { @class = "control-label" })</td>
                <td class="form-inline">
                    @Html.TextBoxFor(model => model.ReleaseNo, new { @class = "form-control" })
                    @Html.EditorFor(model => model.IsFuzzySearch) 模糊查询
                </td>
                <td><label class="control-label">计划下发时间(起止)</label></td>
                <td class="form-inline">
                    @Html.TextBoxFor(model => model.PlanReleaseDateStart, new { @class = "form-control Wdate datepicker", @placeholder = "点击选择起始日期", @onclick = "WdatePicker({ dateFmt: 'yyyy/M/d' })" })
                    -
                    @Html.TextBoxFor(model => model.PlanReleaseDateEnd, new { @class = "form-control Wdate datepicker", @placeholder = "点击选择结束日期", @onclick = "WdatePicker({ dateFmt: 'yyyy/M/d' })" })

                </td>
            </tr>
            <tr>
                <td><label class="control-label">实际下发时间(起止)</label></td>
                <td class="form-inline">
                    @Html.TextBoxFor(model => model.ReleaseDateStart, new { @class = "form-control Wdate datepicker", @placeholder = "点击选择起始日期", @onclick = "WdatePicker({ dateFmt: 'yyyy/M/d' })" })
                    -
                    @Html.TextBoxFor(model => model.ReleaseDateEnd, new { @class = "form-control Wdate datepicker", @placeholder = "点击选择结束日期", @onclick = "WdatePicker({ dateFmt: 'yyyy/M/d' })" })

                </td>
                <td> @Html.LabelFor(model => model.DraftPersonID, new { @class = "control-label" })</td>
                <td> @Html.DropDownListFor(model => model.DraftPersonID, ViewBag.UserList as SelectList, new { @class = "form-control" }) </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="查询" class="btn btn-primary" />
                    <input type="button" value="新增一条" class="btn btn-default" onclick="doEdit(0, '新增下发信息')" />
                </td>
            </tr>
        </table>
    }
</div>
@if (Model.ResultList != null)
{

    <h3>查询结果</h3>
    <div class="row card">


        @if (Model.ResultList.Count < 1)
        {
            <p class="alert alert-warning">没有符合条件的结果！</p>
        }
        else
        {
            <table class="table table-condensed table-bordered" style="font-size:12px;table-layout:fixed" width="100">
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.ResultList[0].ReleaseNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ResultList[0].PlanReleaseDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ResultList[0].ReleaseDate)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.ResultList[0].DraftPersonID)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.ResultList[0].ReleaseDesc)
                    </th>
                </tr>
                @for (int i = 0; i < Model.ResultList.Count; i++)
                {
                    var item = Model.ResultList[i];
                    var trid = "resultTR" + item.ReqReleaseID;
                    <tr id="@trid">
                        <td>
                            <a href="###" onclick="doEdit('@item.ReqReleaseID','编辑下发信息')">编辑</a> |
                            <a href="###" onclick="doDelete('@item.ReqReleaseID')">删除</a> |
                            <a href="###" onclick="doShowReqs('@item.ReqReleaseID', '@item.ReleaseNo', '@item.IsSideRelease.ToString()')">管理下发需求</a>

                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.ReleaseNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PlanReleaseDate)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.ReleaseDate)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.DraftPersonName)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.ReleaseDesc)
                        </td>
                    </tr>
                }
            </table>
            @Html.PagedListPager(list: Model.ResultList as PagedList.IPagedList<MyTeam.Models.ReqRelease>, generatePageUrl: Page => Url.Action("Index", new { pageNum = Page }) + Model.ToQueryString())

        }
    </div>

}
<!-- 对话框1：确认删除 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    确认删除？
                </h4>
            </div>
            <div class="modal-body">
                确定要删除下发记录吗？
                <div class="text-danger"><b>Warning: </b>删除下发记录的同时将清除相关维护需求中的对应下发信息！</div>
                <input type="hidden" id="toDelId" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    取消
                </button>
                <button type="button" class="btn btn-primary" onclick="realDelete()" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 对话框2：删除完成 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog"
     aria-labelledby="myModal2Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    处理结果
                </h4>
            </div>
            <div class="modal-body">
                <span id="procResult"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="javascript:window.location.reload()">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 对话框3：新增/编辑页面 -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    <span id="modalTitle"></span>
                </h4>
            </div>
            <div class="modal-body">
                <div id="modalBody"></div>
            </div>
        </div>
    </div>
</div>

<!-- 对话框4：展示详情 -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    <span id="detailName"></span>
                </h4>
            </div>
            <div class="modal-body">
                <div id="detailMain"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>
