@model IEnumerable<MyTeam.Models.UpgradeLog>
@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title</h2>

<div class="row card">
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="20%" class="text-left">@Html.DisplayNameFor(model => model.SysVersion)</th>
                <th width="30%" class="text-left">@Html.DisplayNameFor(model => model.ReleaseDate)</th>
                <th width="50%" class="text-left">@Html.DisplayNameFor(model => model.Description)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.SysVersion)</td>
                    <td>@Html.DisplayFor(modelItem => item.ReleaseDate)</td>
                    <td>@Html.Raw(item.Description)</td>
                </tr>
            }            

        </tbody>
    </table>
</div>
