@{
    ViewBag.Title = "欢迎";
}

<h2>Welcome @ViewBag.Message !</h2>

<div>
    <h3>常用任务：</h3>
    <ul>
        <li>@Html.ActionLink("维护需求入池", "MainInPool", "ReqManage")</li>
        <li>@Html.ActionLink("维护需求管理", "Index", "ReqManage")</li>
        <li>@Html.ActionLink("周报填写", "MainIndex", "WeekReport")</li>
        <li>@Html.ActionLink("周报导出", "Export", "WeekReport")</li>        
    </ul>
    
</div>