@using MyTeam.Models
@using MyTeam.Enums
@model MyTeam.Models.HomeResult
@{
    ViewBag.Title = "欢迎";

    // 生成基础链接
    var baseUrl = "/ReqManage/Index?IsQuery=True&ReqStat={0}&ReqAcptPerson={1}&SysID={2}&AcptDateEnd={3}";
}

<div class="row home-row">
    <div class="col-md-2">
        @{string s1 = string.Format(baseUrl, (int)ReqStatEnums.入池, Model.UID, 0, "");}
        <div class="card clickable-card" style="border-top:rgb(255,132,132) 3px solid" onclick="window.location.href='@s1'">
            <p>全部未出池的需求</p>
            <div class="homeNum">@Model.ReqLsSum</div>
        </div>

        <div class="list-group infolist">
            @foreach (HomeReq r in Model.ReqLS)
            {
                string s = string.Format(baseUrl, (int)ReqStatEnums.入池, Model.UID, r.SysID, "");
                <a class="list-group-item" href=@s>
                    <span class="badge">@r.ReqNum</span>
                    @r.SysName
                </a>
            }
        </div>
    </div>
    <div class="col-md-2">
        @{string s2 = string.Format(baseUrl, (int)ReqStatEnums.入池, Model.UID, 0, DateTime.Now.AddMonths(-3).ToShortDateString());}
        <div class="card clickable-card" style="border-top:rgb(255,172,132) 3px solid" onclick="window.location.href='@s2'">
            <p>超3个月未出池的需求</p>
            <div class="homeNum">@Model.ReqDelayLsSum</div>
        </div>

        <div class="list-group infolist">
            @foreach (HomeReq r in Model.ReqDelayLS)
            {
                string s = string.Format(baseUrl, (int)ReqStatEnums.入池, Model.UID, r.SysID, DateTime.Now.AddMonths(-3).ToShortDateString());
                <a class="list-group-item" href=@s>
                    <span class="badge">@r.ReqNum</span>
                    @r.SysName
                </a>
            }
        </div>
    </div>
    <div class="col-md-2">
        @{string s3 = string.Format(baseUrl, (int)ReqStatEnums.待评估, Model.UID, 0, "");}
        <div class="card clickable-card" style="border-top:rgb(255,255,148) 3px solid" onclick="window.location.href='@s3'">
            <p>全部未入池的需求</p>
            <div class="homeNum">@Model.ReqInpoolLsSum</div>
        </div>

        <div class="list-group infolist">
            @foreach (HomeReq r in Model.ReqInpoolLS)
            {
                string s = string.Format(baseUrl, (int)ReqStatEnums.待评估, Model.UID, r.SysID, "");
                <a class="list-group-item" href=@s>
                    <span class="badge">@r.ReqNum</span>
                    @r.SysName
                </a>
            }
        </div>
    </div>
    <div class="col-md-2">
        @{string s4 = string.Format(baseUrl, (int)ReqStatEnums.待评估, Model.UID, 0, DateTime.Now.AddDays(-8).ToShortDateString());}
        <div class="card clickable-card" style="border-top:rgb(128,255,128) 3px solid" onclick="window.location.href='@s4'">
            <p>超8天未入池的需求</p>
            <div class="homeNum">@Model.ReqInpoolDelayLsSum</div>
        </div>

        <div class="list-group infolist">
            @foreach (HomeReq r in Model.ReqInpoolDelayLS)
            {
                string s = string.Format(baseUrl, (int)ReqStatEnums.待评估, Model.UID, r.SysID, DateTime.Now.AddDays(-8).ToShortDateString());
                <a class="list-group-item" href=@s>
                    <span class="badge">@r.ReqNum</span>
                    @r.SysName
                </a>
            }
        </div>
    </div>
    <div class="col-md-2">
        <div class="card" style="border-top:rgb(140,198,255) 3px solid">
            <p>延期项目</p>
            <div class="homeNum">@Model.ProjDetails.Count</div>
        </div>

        @if (Model.ProjDetails.Count > 0)
        {
            <table class="table table-condensed table-striped infolist" style="background-color:#FFF;">
                <tr><th>项目名称</th><th>延期阶段</th></tr>
                @foreach (HomeProjDelay r in Model.ProjDetails)
                {
                    string s = "/Proj/Index?isQuery=True&isExcel=False&ProAcptDate=&RulesPublishDate=&ProjID=" + r.ProjId;

                    <tr>
                        <td class="text-center"><a href=@s>@r.ProjName</a></td>
                        <td class="text-center">@r.DelayDetail</td>
                    </tr>
                }
            </table>
        }
    </div>
    <div class="col-md-2">
        <div class="card" style="border-top:rgb(174,174,255) 3px solid">
            <p>超时未完成的下发</p>
            <div class="homeNum">@Model.RlsDelayLS.Count</div>
        </div>

        @if (Model.RlsDelayLS.Count > 0)
        {
            <table class="table table-condensed table-striped infolist" style="background-color:#FFF;">
                <tr>
                    <th>下发通知编号</th>
                    <th>计划下发日期</th>
                </tr>
                @foreach (HomeReleaseDelay r in Model.RlsDelayLS)
                {
                    string s = "/ReleaseManage/Index?IsQuery=True&ReleaseNo=" + r.ReleaseNo;

                    <tr>
                        <td class="text-center"><a href=@s title="@r.ReleaseDesc" data-toggle="tooltip" data-placement="top">@r.ReleaseNo</a></td>
                        <td class="text-center">@r.PlanReleaseDate.ToShortDateString()  </td>
                    </tr>
                }
            </table>
        }
    </div>
</div>

@if (Model.NewsLog != null)
{
    <!--通知modal-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">
                        版本更新 - @Model.NewsLog.SysVersion
                    </h4>
                </div>
                <div class="modal-body">
                    @Html.Raw(Model.NewsLog.Description)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="readNews('@ViewBag.NewsID')">
                        确定
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script>
    $('#myModal').modal({ backdrop: 'static' });
    </script>

    <script>
        function readNews(newsId) {
            $.ajax({
                type: 'GET',
                url: '/UserNews/ReadNews?NewsID=' + newsId,
                success: function (msg) {
                    //do nothing
                },
                error: function () {
                    showAlertWithDefaultTitle("未能成功将此新闻置为已读状态，请联系管理员");
                }

            });
        }
    </script>
}
