@using MyTeam.Models
@model MyTeam.Models.HomeResult
@{
    ViewBag.Title = "欢迎";
}
<script language="javascript" type="text/javascript" src="~/Scripts/My97DatePicker/WdatePicker.js"></script>
<script>
    $(document).ready(function () {
        $("#myTab a:first").tab('show')
        $("#myTab1 a:first").tab('show')
    });
</script>
<div class="jumbotron">
    <h1 style="font-weight:bold">零售团队管理系统<span style="font-size:12px">(Beta)</span></h1>
</div>
<div class="row">
    <fieldset class="col-md-6">
        <div class="row">
            <div class="col-md-10">
                <form class="form-horizontal" role="form">
                    <div id="info"></div>
                    <ul class="nav nav-tabs" id="myTab">
                        <li><a href="#tabs1" data-toggle="tab">全部未出池的需求</a></li>
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                超过时限的需求 <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#tabs2" data-toggle="tab">超三个月未出池的需求</a></li>
                                <li><a href="#tabs3" data-toggle="tab">超两周未入池的需求</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="tab-content" style="margin-top:20px">
                        <div id="tabs1" class="tab-pane fade in active">
                            <div class="list-group">
                                @foreach (HomeReq r in Model.ReqLs)
                                {
                                    string s = "/ReqManage/Index?IsQuery=True&ReqStat=入池&SysId=" + r.SysId;
                                    <a class="list-group-item" href=@s>
                                        <span class="badge">@r.ReqNum</span>
                                        @r.SysName
                                    </a>
                                }
                            </div>
                        </div>
                        <div id="tabs2" class="tab-pane fade in active">
                            <p class="alert alert-info">超三个月未出池的需求</p>
                            <div class="list-group">
                                @foreach (HomeReqDelay r in Model.ReqDelayLS)
                                {
                                    string s = "/ReqManage/Index?IsQuery=True&ReqStat=入池&SpecialQuery=1&SysId=" + r.SysId;
                                    <a class="list-group-item" href=@s>
                                        <span class="badge">@r.ReqDelayNum</span>
                                        @r.SysName
                                    </a>
                                }
                            </div>
                        </div>
                        <div id="tabs3" class="tab-pane fade in active">
                            <p class="alert alert-info">超两周未入池的需求</p>
                            <div class="list-group">
                                @foreach (HomeInpoolReqDelay r in Model.ReqInpoolDelayLS)
                                {
                                    string s = "/ReqManage/Index?IsQuery=True&ReqStat=待评估&SpecialQuery=2&SysId=" + r.SysId;
                                    <a class="list-group-item" href=@s>
                                        <span class="badge">@r.ReqDelayNum</span>
                                        @r.SysName
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </fieldset>
    <fieldset class="col-md-6">
        <div class="row">
            <div class="col-md-10">
                <form class="form-horizontal" role="form">
                    <div id="info"></div>
                    <ul class="nav nav-tabs" id="myTab1">
                        <li><a href="#tabs4" data-toggle="tab">延期项目</a></li>
                        <li><a href="#tabs5" data-toggle="tab">未完成的副下发</a></li>
                    </ul>
                    <div class="tab-content" style="margin-top:20px">
                        <div id="tabs4" class="tab-pane fade in active">
                            <div class="list-group">
                                @if (Model.ProjDetails.Count < 1)
                                {
                                    <p class="alert alert-success">暂无</p>
                                }
                                else
                                {
                                    <table class="table table-condensed table-striped">
                                        <tr><th>项目名称</th><th>延期阶段</th></tr>
                                        @foreach (HomeProjDelay r in Model.ProjDetails)
                                        {
                                            string s = "/Proj/index?isQuery=True&isExcel=False&ProAcptDate=&RulesPublishDate=&ProjID=" + r.ProjId;

                                            <tr>
                                                <td class="text-center"><a href=@s>@r.ProjName</a></td>
                                                <td class="text-center">@r.DelayDetail</td>
                                            </tr>
                                        }
                                    </table>
                                }
                            </div>
                        </div>
                        <div id="tabs5" class="tab-pane fade in active">
                            <div class="list-group">
                                <table class="table table-condensed table-striped">
                                    <tr><th>副下发通知编号</th></tr>
                                    @foreach (HomeRlsDelay r in Model.RlsDelayLS)
                                    {
                                        <tr>
                                            <td class="text-center">@r.SecondRlsNo</td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                        
                    </div>
                </form>
            </div>
        </div>
    </fieldset>
    <!--
            <fieldset class="col-md-6">
            <legend>常用功能：</legend>
            <div class="list-group">
                <a class="list-group-item" href="/ReqManage/MainInPool">批量入池</a>
                <a class="list-group-item" href="/ReqManage">维护需求管理</a>
                <a class="list-group-item" href="/WeekReport/MainIndex">填写周报</a>
                <a class="list-group-item" href="/WeekReport/Export">导出周报</a>
            </div>
        </fieldset>
    -->
</div>
<!--用modal展示项目详情
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    【<span id="detailName"></span>】的详情
                </h4>
            </div>
            <div class="modal-body">
                <div id="detailMain"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
    -->
