@using MyTeam.Models
@using MyTeam.Enums
@model MyTeam.Models.HomeResult
@{
    ViewBag.Title = "欢迎";
}

<div class="row home-row">
    <div class="col-md-2">
        <div class="card">
            <p>全部未出池的需求</p>
            <div class="homeNum">@Model.ReqLsSum</div>
        </div>

        <div class="list-group infolist">
            @foreach (HomeReq r in Model.ReqLs)
            {
                string s = "/ReqManage/Index?IsQuery=True&ReqStat=" + (int)ReqStatEnums.入池 + "&SysID=" + r.SysID;
                <a class="list-group-item" href=@s>
                    <span class="badge">@r.ReqNum</span>
                    @r.SysName
                </a>
            }
        </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <p>超3个月未出池的需求</p>
            <div class="homeNum">@Model.ReqDelayLsSum</div>
        </div>

        <div class="list-group infolist">
            @foreach (HomeReq r in Model.ReqDelayLS)
            {
                string s = "/ReqManage/Index?IsQuery=True&ReqStat=" + (int)ReqStatEnums.入池 + "&SpecialQuery=1&SysID=" + r.SysID;
                <a class="list-group-item" href=@s>
                    <span class="badge">@r.ReqNum</span>
                    @r.SysName
                </a>
            }
        </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <p>全部未入池的需求</p>
            <div class="homeNum">@Model.ReqInpoolLsSum</div>
        </div>

        <div class="list-group infolist">
            @foreach (HomeReq r in Model.ReqInpoolLS)
            {
                string s = "/ReqManage/Index?IsQuery=True&ReqStat=" + (int)ReqStatEnums.待评估 + "&SysID=" + r.SysID;
                <a class="list-group-item" href=@s>
                    <span class="badge">@r.ReqNum</span>
                    @r.SysName
                </a>
            }
        </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <p>超8天未入池的需求</p>
            <div class="homeNum">@Model.ReqInpoolDelayLsSum</div>
        </div>

        <div class="list-group infolist">
            @foreach (HomeReq r in Model.ReqInpoolDelayLS)
            {
                string s = "/ReqManage/Index?IsQuery=True&ReqStat=" + (int)ReqStatEnums.待评估 + "&SpecialQuery=2&SysID=" + r.SysID;
                <a class="list-group-item" href=@s>
                    <span class="badge">@r.ReqNum</span>
                    @r.SysName
                </a>
            }
        </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <p>延期项目</p>
            <div class="homeNum">@Model.ProjDetails.Count</div>
        </div>

        @if (Model.ProjDetails.Count > 0)
        {
            <table class="table table-condensed table-striped infolist" style="background-color:#FFF;">
                <tr><th>项目名称</th><th>延期阶段</th></tr>
                @foreach (HomeProjDelay r in Model.ProjDetails)
                {
                    string s = "/Proj/Index?isQuery=True&isExcel=False&ProAcptDate=&RulesPublishDate=&ProjID=" + r.ProjId;

                    <tr>
                        <td class="text-center"><a href=@s>@r.ProjName</a></td>
                        <td class="text-center">@r.DelayDetail</td>
                    </tr>
                }
            </table>
        }
    </div>
    <div class="col-md-2">
        <div class="card">
            <p>超时未完成的下发</p>
            <div class="homeNum">@Model.RlsDelayLS.Count</div>
        </div>

        @if (Model.RlsDelayLS.Count > 0)
        {
            <table class="table table-condensed table-striped infolist" style="background-color:#FFF;">
                <tr>
                    <th>下发通知编号</th>
                    <th>计划下发日期</th>
                </tr>
                @foreach (HomeRlsDelay r in Model.RlsDelayLS)
                {
                    string s = "/ReqManage/Index?IsQuery=True&SysID=0&ReqStat=" + (int)ReqStatEnums.出池 + "&AnyRlsNo=" + r.RlsNo;

                    string rlsNo = r.RlsNo;

                    if (!string.IsNullOrEmpty(r.SecondRlsNo))
                    {
                        rlsNo += "<br/>" + r.SecondRlsNo;
                    }

                    <tr>
                        <td class="text-center"><a href=@s>@Html.Raw(rlsNo)</a></td>
                        <td class="text-center">@r.PlanRlsDate.Value.ToString("yyyy/M/d")  </td>
                    </tr>
                }
            </table>
        }
    </div>
</div>

<!--通知modal-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    版本更新
                </h4>
            </div>
            <div class="modal-body">
                <span id="procResult"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="javascript:window.location.reload()">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>