@using MyTeam.Models
@model MyTeam.Models.HomeResult
@{
    ViewBag.Title = "欢迎";
}
<!--

<div class="jumbotron">
    <h1 style="font-weight:bold">零售团队管理系统</h1>
</div>

-->
<div class="row" style="padding-top:30px">
    <div class="col-md-2">
        <div class="infobox">
            <p>全部未出池的需求</p>
            <p style="font-weight:bold; font-size:6em">@ViewBag.ReqLsSum</p>
        </div>

        <div class="list-group infolist">
            @foreach (HomeReq r in Model.ReqLs)
            {
                string s = "/ReqManage/Index?IsQuery=True&ReqStat=入池&SysId=" + r.SysId + "&ReqAcptPerson=" + r.ReqAcptPerson;
                <a class="list-group-item" href=@s>
                    <span class="badge">@r.ReqNum</span>
                    @r.SysName
                </a>
            }
        </div>
    </div>
    <div class="col-md-2">
        <div class="infobox">
            <p>超三个月未出池的需求</p>
            <p style="font-weight:bold; font-size:6em">@ViewBag.ReqDelayLsSum</p>
        </div>

        <div class="list-group infolist">
            @foreach (HomeReqDelay r in Model.ReqDelayLS)
            {
                string s = "/ReqManage/Index?IsQuery=True&ReqStat=入池&SpecialQuery=1&SysId=" + r.SysId + "&ReqAcptPerson=" + r.ReqAcptPerson;
                <a class="list-group-item" href=@s>
                    <span class="badge">@r.ReqDelayNum</span>
                    @r.SysName
                </a>
            }
        </div>
    </div>
    <div class="col-md-2">
        <div class="infobox">
            <p>超两周未入池的需求</p>
            <p style="font-weight:bold; font-size:6em">@ViewBag.ReqInpoolDelayLsSum</p>
        </div>
        
        <div class="list-group infolist">
            @foreach (HomeInpoolReqDelay r in Model.ReqInpoolDelayLS)
            {
                string s = "/ReqManage/Index?IsQuery=True&ReqStat=待评估&SpecialQuery=2&SysId=" + r.SysId + "&ReqAcptPerson=" + r.ReqAcptPerson;
                <a class="list-group-item" href=@s>
                    <span class="badge">@r.ReqDelayNum</span>
                    @r.SysName
                </a>
            }
        </div>
    </div>
    <div class="col-md-3">
        <div class="infobox">
            <p>延期项目</p>
            <p style="font-weight:bold; font-size:6em">@Model.ProjDetails.Count</p>
        </div>
        
        @if (Model.ProjDetails.Count > 0)
        {
            <table class="table table-condensed table-striped infolist">
                <tr><th>项目名称</th><th>延期阶段</th></tr>
                @foreach (HomeProjDelay r in Model.ProjDetails)
                {
                    string s = "/Proj/Index?isQuery=True&isExcel=False&ProAcptDate=&RulesPublishDate=&ProjID=" + r.ProjId;

                    <tr>
                        <td class="text-center"><a href=@s>@r.ProjName</a></td>
                        <td class="text-center">@r.DelayDetail</td>
                    </tr>
                }
            </table>
        }
    </div>
    <div class="col-md-3">
        <div class="infobox">
            <p>超时未完成的下发</p>
            <p style="font-weight:bold; font-size:6em">@Model.RlsDelayLS.Count</p>
        </div>
       
        @if (Model.RlsDelayLS.Count > 0)
        {
            <table class="table table-condensed table-striped infolist">
                <tr>
                    <th>主下发通知编号</th>
                    <th>副下发通知编号</th>
                    <th>计划下发日期</th>
                </tr>
                @foreach (HomeRlsDelay r in Model.RlsDelayLS)
                {
                    string s = "/ReqManage/Index?IsQuery=True&SysId=0&ReqStat=出池&AnyRlsNo=" + r.RlsNo;

                    <tr>
                        <td class="text-center"><a href=@s>@r.RlsNo</a></td>
                        <td class="text-center">@r.SecondRlsNo</td>
                        <td class="text-center">@r.PlanRlsDate.Value.ToString("yyyy/M/d")  </td>
                    </tr>
                }
            </table>
        }
    </div>
</div>
