@model MyTeam.Models.User
@{
    ViewBag.Title = "修改用户信息";
}
<h2>@ViewBag.Title</h2>
@if (!string.IsNullOrEmpty(ViewBag.ErrMsg))
{
    <div class="alert alert-danger" role="alert">@ViewBag.ErrMsg</div>
    return;
}

<div class="row card">
    <div class="col-md-8">
        @if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <div class="alert alert-success" role="alert">@ViewBag.Message</div>
        }
        <div id="info"></div>
        @using (Ajax.BeginForm("Edit", "User", null, new AjaxOptions { UpdateTargetId = "info" },
                     new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            if (Model != null)
            {
                @Html.HiddenFor(model => model.UID)

                <div class="form-group">
                    @Html.LabelFor(model => model.Username, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!--密码不允许修改-->
                @Html.HiddenFor(model => model.Password)

                <div class="form-group">
                    @Html.LabelFor(model => model.Realname, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Realname, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Realname, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Phone, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!--只有管理员可以控制用户是否为管理员、用户类型-->
                if (Session["IsAdmin"] != null && (bool)Session["IsAdmin"])
                {
                    <div class="form-group">
                        @Html.LabelFor(model => model.IsAdmin, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.CheckBoxFor(model => model.IsAdmin)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.UserType, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            <select class="form-control" name="UserType" id="UserType">
                                <option value="0">系统用户</option>
                                <option value="1">行员</option>
                                <option value="2">外协</option>
                            </select>
                        </div>
                    </div>
                }
                else
                {
                    @Html.HiddenFor(model => model.IsAdmin)
                    @Html.HiddenFor(model => model.UserType)
                }

                

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="保存" class="btn btn-primary" />
                    </div>
                </div>

            }
        }
    </div>
</div>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script>
    $('#UserType').val('@Model.UserType');
</script>