@model IEnumerable<MyTeam.Models.User>
@{
    ViewBag.Title = "用户管理";
}
<h2>@ViewBag.Title</h2>

@if(ViewBag.ErrMsg != null)
{
    <p class="alert alert-warning">@ViewBag.ErrMsg</p>
}

@if (Model != null)
{
    <div class="row card">
        <p>
            <a class="btn btn-primary" href="/User/Create">添加用户</a>
        </p>

        <table class="table table-bordered">
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Realname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsAdmin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BelongTo)
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink("编辑", "Edit/"+item.UID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Realname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsAdmin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserTypeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BelongToName)
                    </td>
                </tr>
            }
        </table>
    </div>
    
}
