@model IEnumerable<MyTeam.Models.User>
@{
    ViewBag.Title = "用户管理";
}
<h2>用户管理</h2>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script language="javascript" type="text/javascript" src="~/Scripts/My97DatePicker/WdatePicker.js"></script>
<script>  

    // 在modal中新增
    function doCreate() {
        var url = "/User/Create";
        $.ajax({
            type: 'GET',
            url: url,
            success: function (msg) {
                $('#Create').html(msg);
            },
            error: function () {
                $('#Create').html("处理失败，请联系管理员");
            },
            complete: function () {
                $('#myModal').modal();
            }
        });
    }
</script>
@Html.ValidationSummary()
@if (Model != null)
{
    <p>
        <input type="button" onclick="doCreate()" class="btn btn-primary" value="添加用户" />
    </p>

    <table class="table table-bordered">
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Realname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserType)
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("编辑", "Edit")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Realname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAdmin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserTypeName)
                </td>
            </tr>
        }
    </table>
}

<!-- 对话框2：新增页面 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    用户新增
                </h4>
            </div>
            <div class="modal-body">
                <div id="Create"></div>
            </div>
        </div>
    </div>
</div>