@{
    Layout = null;
    ViewBag.Title = "登录";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MyTeam(beta)</title>
    <link href="/Content/bootstrap.css" rel="stylesheet">
    <link href="/Content/site.css" rel="stylesheet">
    <script src="/Scripts/modernizr-2.6.2.js"></script>
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/respond.js"></script>
    <script src="/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="/Scripts/jquery.validate.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.js"></script>
</head>
<body>
    <div class="container body-content">
        <!--[if lt IE 9]> <p class='alert alert-danger text-center'>本系统在旧版IE中可能会出现各种显示问题，建议使用Chrome或其他webkit内核浏览器！</p> <![endif]-->
        @model MyTeam.Models.UserLogin
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h2 class="text-center">零售团队管理系统<span style="font-size:12px">(Beta)</span></h2>
                    <div class="panel panel-default">
                        <div class="panel-heading">Welcome</div>
                        <div class="panel-body">
                            @using (Html.BeginForm("Login", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post,
                new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Username, new { @class = "col-md-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Password, new { @class = "col-md-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-3 col-md-9">
                                        <input type="submit" value="登录" class="btn btn-primary" />
                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>

            </div>
        </div>
        <hr />
        <footer>
            <p class="text-center">&copy; @DateTime.Now.Year - 兴业银行信息科技部需求中心零售团队</p>
            <p class="text-center" style="font-size:0.8em; font-style:italic">Made by ZhouMeng & ZhangJuan</p>
        </footer>
    </div>
</body>
</html>