@using PagedList
@using PagedList.Mvc
@model IEnumerable<MyTeam.Models.ProjSurv>

@{
    ViewBag.Title = "需求调研管理";

}
<h2>@ViewBag.Title。</h2>

<p>
    @Html.ActionLink("添加需求调研记录", "Create", null, new { @class= "btn btn-primary"})
</p>

<!-- Ajax删除 -->
<script>
    function doDelete(id, name) {
        $('#toDelName').html(name);
        $('#toDelId').val(id);
        $('#myModal').modal();
    }

    function realDelete() {
        var id = $('#toDelId').val();
        var url = "/ProjSurv/Delete/" + id;
        $.ajax({
            type: 'POST',
            url: url,
            success: function (msg) {
                $('#procResult').html(msg);

            },
            error: function () {
                $('#procResult').html("处理失败，请联系管理员");
            },
            complete: function () {
                $('#myModal2').modal();
            }
        });
    }
</script>

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.ProjID)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.SurveyWay)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.SurveyTime)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.SurveyContent)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.SurveyTarget)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.WorkTarget)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.HostPerson)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.JoinPerson)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.SatisfactionDegree)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Remark)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.ProjName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.SurveyWay)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.SurveyTime)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.SurveyContent)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.SurveyTarget)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.WorkTarget)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.HostPerson)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.JoinPerson)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.SatisfactionDegree)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Remark)
        </td>

        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.SurvID }) |
			<a href="#" onclick="doDelete('@item.SurvID','@item.ProjName 的项目调研记录')">删除</a>
        </td>
    </tr>
}
</table>

<!--分页-->
@Html.PagedListPager(list: Model as PagedList.IPagedList<MyTeam.Models.ProjSurv>,
generatePageUrl: Page => Url.Action("Index", new { pageNum = Page }))

<!-- 对话框1：确认删除 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    确认删除？
                </h4>
            </div>
            <div class="modal-body">
                确定要删除【<span id="toDelName"></span>】吗？
                <input type="hidden" id="toDelId" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    取消
                </button>
                <button type="button" class="btn btn-primary" onclick="realDelete()" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 对话框2：删除完成 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog"
     aria-labelledby="myModal2Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    处理结果
                </h4>
            </div>
            <div class="modal-body">
                <span id="procResult"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="javascript:window.location.reload()">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>



