@model MyTeam.Models.Proj

@{
    ViewBag.Title = "添加项目状态跟踪";
}

<h2>@ViewBag.Title。</h2>

<script language="javascript" type="text/javascript" src="~/Scripts/My97DatePicker/WdatePicker.js"></script>
<script>
    // 日期控件
    $(document).ready(function () {
        $("#ProAcptDate").attr({ class: "form-control Wdate datepicker", onclick: "WdatePicker({ dateFmt: 'yyyy/M/d' })", placeholder: "点击选择日期" });
        $("#SurveyGroupFoundDate").attr({ class: "form-control Wdate datepicker", onclick: "WdatePicker({ dateFmt: 'yyyy/M/d' })", placeholder: "点击选择日期" });
        $("#SurveyFinishDate").attr({ class: "form-control Wdate datepicker", onclick: "WdatePicker({ dateFmt: 'yyyy/M/d' })", placeholder: "点击选择日期" });
        $("#OutlineStartDate").attr({ class: "form-control Wdate datepicker", onclick: "WdatePicker({ dateFmt: 'yyyy/M/d' })", placeholder: "点击选择日期" });
        $("#OutlineEndDate").attr({ class: "form-control Wdate datepicker", onclick: "WdatePicker({ dateFmt: 'yyyy/M/d' })", placeholder: "点击选择日期" });
        $("#OutlinePublishDate").attr({ class: "form-control Wdate datepicker", onclick: "WdatePicker({ dateFmt: 'yyyy/M/d' })", placeholder: "点击选择日期" });
        $("#ReqStartDate").attr({ class: "form-control Wdate datepicker", onclick: "WdatePicker({ dateFmt: 'yyyy/M/d' })", placeholder: "点击选择日期" });
        $("#ReviewAcptDate").attr({ class: "form-control Wdate datepicker", onclick: "WdatePicker({ dateFmt: 'yyyy/M/d' })", placeholder: "点击选择日期" });
        $("#ReviewMeetingDate").attr({ class: "form-control Wdate datepicker", onclick: "WdatePicker({ dateFmt: 'yyyy/M/d' })", placeholder: "点击选择日期" });
        $("#ReqPublishDate").attr({ class: "form-control Wdate datepicker", onclick: "WdatePicker({ dateFmt: 'yyyy/M/d' })", placeholder: "点击选择日期" });
        $("#RulesStartDate").attr({ class: "form-control Wdate datepicker", onclick: "WdatePicker({ dateFmt: 'yyyy/M/d' })", placeholder: "点击选择日期" });
        $("#RulesPublishDate").attr({ class: "form-control Wdate datepicker", onclick: "WdatePicker({ dateFmt: 'yyyy/M/d' })", placeholder: "点击选择日期" });
        $("#ProjCheckAcptDate").attr({ class: "form-control Wdate datepicker", onclick: "WdatePicker({ dateFmt: 'yyyy/M/d' })", placeholder: "点击选择日期" });
        $("#ProjPublishDate").attr({ class: "form-control Wdate datepicker", onclick: "WdatePicker({ dateFmt: 'yyyy/M/d' })", placeholder: "点击选择日期" });
    });
</script>

<div class="row">
    <div class="col-md-8">
        @using (Ajax.BeginForm("Create", "Proj", null, new AjaxOptions { UpdateTargetId = "info" },
                new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <fieldset>
                <legend>项目信息</legend>
                <div class="form-group">
                    @Html.LabelFor(model => model.ProjName, new { @class = "col-md-2 control-label" })

                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.ProjName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ProjName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ProjNo, new { @class = "col-md-2 control-label" })

                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.ProjNo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ProjNo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.HostDept, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        <!--主办部门下拉选择-->
                        @Html.DropDownListFor(model => model.HostDept, ViewBag.ReqFromDeptList as SelectList, new { @class = "form-control" })
                    </div>

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ProjLevel, new { @class = "col-md-2 control-label" })

                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.ProjLevel, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ProjLevel, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.IsReqTrack, new { @class = "col-md-2 control-label" })

                    <div class="col-md-10">
                        @Html.CheckBoxFor(model => model.IsReqTrack, new { @class = "form-control checkbox" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ReqAnalysisID, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        <!--需求分析师下拉选择-->
                        @Html.DropDownListFor(model => model.ReqAnalysisID, ViewBag.ReqAnalysisList as SelectList, new { @class = "form-control" })
                    </div>

                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.BusiPerson, new { @class = "col-md-2 control-label" })

                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.BusiPerson, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.BusiPerson, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ProjManager, new { @class = "col-md-2 control-label" })

                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.ProjManager, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ProjManager, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Architect, new { @class = "col-md-2 control-label" })

                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Architect, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Architect, "", new { @class = "text-danger" })
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>项目调研</legend>
                <div class="form-group">
                    @Html.LabelFor(model => model.ProAcptDate, new { @class = "col-md-2 control-label" })

                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.ProAcptDate, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ProAcptDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.SurveyGroupFoundDate, new { @class = "col-md-2 control-label" })

                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.SurveyGroupFoundDate, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SurveyGroupFoundDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.SurveyFinishDate, new { @class = "col-md-2 control-label" })

                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.SurveyFinishDate, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SurveyFinishDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.SurveyRemark, new { @class = "col-md-2 control-label" })

                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.SurveyRemark, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SurveyRemark, "", new { @class = "text-danger" })
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>需求大纲</legend>
                <div class="form-group">
                    @Html.LabelFor(model => model.OutlineWriter, new { @class = "col-md-2 control-label" })

                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.OutlineWriter, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.OutlineWriter, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.OutlineStartDate, new { @class = "col-md-2 control-label" })

                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.OutlineStartDate, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.OutlineStartDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.OutlineEndDate, new { @class = "col-md-2 control-label" })

                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.OutlineEndDate, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.OutlineEndDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.OutlineAuditPerson, new { @class = "col-md-2 control-label" })

                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.OutlineAuditPerson, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.OutlineAuditPerson, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.OutlinePublishDate, new { @class = "col-md-2 control-label" })

                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.OutlinePublishDate, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.OutlinePublishDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.OutlineRemark, new { @class = "col-md-2 control-label" })

                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.OutlineRemark, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.OutlineRemark, "", new { @class = "text-danger" })
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>业需开发</legend>
                <div class="form-group">
                    @Html.LabelFor(model => model.ReqWriter, new { @class = "col-md-2 control-label" })

                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.ReqWriter, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ReqWriter, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ReqStartDate, new { @class = "col-md-2 control-label" })

                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.ReqStartDate, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ReqStartDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ReviewAcptDate, new { @class = "col-md-2 control-label" })

                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.ReviewAcptDate, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ReviewAcptDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ReviewMeetingDate, new { @class = "col-md-2 control-label" })

                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.ReviewMeetingDate, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ReviewMeetingDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ReqPublishDate, new { @class = "col-md-2 control-label" })

                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.ReqPublishDate, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ReqPublishDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ReqRemark, new { @class = "col-md-2 control-label" })

                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.ReqRemark, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ReqRemark, "", new { @class = "text-danger" })
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>项目章程发布</legend>
                <div class="form-group">
                    @Html.LabelFor(model => model.RulesStartDate, new { @class = "col-md-2 control-label" })

                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.RulesStartDate, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RulesStartDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.RulesPublishDate, new { @class = "col-md-2 control-label" })

                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.RulesPublishDate, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RulesPublishDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.RulesRemark, new { @class = "col-md-2 control-label" })

                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.RulesRemark, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RulesRemark, "", new { @class = "text-danger" })
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>项目验收</legend>
                <div class="form-group">
                    @Html.LabelFor(model => model.ProjCheckAcptDate, new { @class = "col-md-2 control-label" })

                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.ProjCheckAcptDate, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ProjCheckAcptDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ProjPublishDate, new { @class = "col-md-2 control-label" })

                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.ProjPublishDate, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ProjPublishDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.CheckResult, new { @class = "col-md-2 control-label" })

                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.CheckResult, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CheckResult, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Remark, new { @class = "col-md-2 control-label" })

                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Remark, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>项目工时记录</legend>
                <div class="form-group">
                    @Html.LabelFor(model => model.WorkTimeAtt, new { @class = "col-md-2 control-label" })

                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.WorkTimeAtt, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.WorkTimeAtt, "", new { @class = "text-danger" })
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="新增" class="btn btn-primary" />
                    @Html.ActionLink("返回", "Index", null, new { @class = "btn btn-default" })
                </div>
            </div>
        }
        <div id="info"></div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
