@using PagedList.Mvc
@model MyTeam.Models.ProjQuery
@{
    ViewBag.Title = "项目/专项工作信息管理";
}
<h2>@ViewBag.Title</h2>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script language="javascript" type="text/javascript" src="~/Scripts/My97DatePicker/WdatePicker.js"></script>
<script>
    function doDelete(id, name) {
        $('#toDelName').html(name);
        $('#toDelId').val(id);
        $('#myModal').modal({ backdrop: 'static' });
    }

    function realDelete() {
        $('#procResult').html("处理中...");
        $('#myModal2').modal({ backdrop: 'static' });
        var id = $('#toDelId').val();
        var url = "/Proj/Delete/" + id;
        $.ajax({
            type: 'POST',
            url: url,
            success: function (msg) {
                $('#procResult').html(msg);
                $('#resultTR' + id).fadeOut('fast', function () { $(this).remove });
            },
            error: function () {
                $('#procResult').html("处理失败，请联系管理员");
            }
        });
    }

    // 导出excel
    function doExport() {
        $('#isExcel').val(true);
        $('#myForm').submit();
        $('#isExcel').val(false);
    }

    // 在modal中显示详情
    function showDetail(id, name) {
        $('#detailName').html(name);
        $('#detailMain').html("读取中...");
        $('#myModal3').modal({ backdrop: 'static' });
        var url = "/Proj/Details/" + id;
        $.ajax({
            type: 'GET',
            url: url,
            success: function (msg) {
                $('#detailMain').html(msg);
            },
            error: function () {
                $('#detailMain').html("处理失败，请联系管理员");
            }
        });
    }

    // 在modal中编辑
    function doEdit(id, name) {
        $('#editName').html("【" + name + "】项目状态编辑");
        $('#Edit').html("读取中...");
        $('#myModal4').modal({ backdrop: 'static' });
        var url = "/Proj/Edit/" + id;
        $.ajax({
            type: 'GET',
            url: url,
            success: function (msg) {
                $('#Edit').html(msg);
            },
            error: function () {
                $('#Edit').html("处理失败，请联系管理员");
            }
        });
    }

    // 在modal中新增
    function doCreate() {
        $('#Create').html("读取中...");
        $('#myModal5').modal({ backdrop: 'static' });
        var url = "/Proj/Create";
        $.ajax({
            type: 'GET',
            url: url,
            success: function (msg) {
                $('#Create').html(msg);
            },
            error: function () {
                $('#Create').html("处理失败，请联系管理员");
            }
        });
    }

    // 在modal中编辑项目计划
    function editPlan(id, name) {
        $('#editName').html("【" + name + "】项目计划管理");
        $('#Edit').html("读取中...");
        $('#myModal4').modal({ backdrop: 'static' })
        var url = "/ProjPlan/EditPlanFromProjIndex/" + id;
        $.ajax({
            type: 'GET',
            url: url,
            success: function (msg) {
                $('#Edit').html(msg);
            },
            error: function () {
                $('#Edit').html("处理失败，请联系管理员");
            }
            
        });
    }
</script>
<div class="row card">
    <div class="col-md-12">
        @using (Html.BeginForm("Index", "Proj", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Get,
                    new { @class = "form-horizontal", role = "form", id = "myForm" }))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <input type="hidden" name="isQuery" value="True" />
            <input type="hidden" id="isExcel" name="isExcel" value="False" />

            <table class="table table-condensed query-table">
                <tr>
                    <td><label class="control-label">项目名称</label></td>
                    <td>
                        <input id="ProjName" name="ProjName" class="form-control" placeholder="支持模糊查询" />
                    </td>
                    <td><label class="control-label">需求分析师（主办）</label></td>
                    <td>
                        <!--需求分析师下拉选择-->
                        @Html.DropDownListFor(model => model.ReqAnalysisID, ViewBag.ReqAnalysisList as SelectList, new { @class = "form-control" })
                    </td>
                </tr>

                <tr>
                    <td><label class="control-label">受理日期</label></td>
                    <td class="form-inline">
                        <input id="ProAcptDateStart" name="ProAcptDateStart" class="form-control Wdate datepicker" onclick="WdatePicker({ dateFmt: 'yyyy/M/d' })" value="@Model.ProAcptDateStart" placeholder="点击选择日期" /> -
                        <input id="ProAcptDateEnd" name="ProAcptDateEnd" class="form-control Wdate datepicker" onclick="WdatePicker({ dateFmt: 'yyyy/M/d' })" value="@Model.ProAcptDateEnd" placeholder="点击选择日期" />
                    </td>
                
                    <td><label class="control-label">章程发布日期</label></td>
                    <td class="form-inline">
                        <input id="RulesPublishDateStart" name="RulesPublishDateStart" class="form-control Wdate datepicker" onclick="WdatePicker({ dateFmt: 'yyyy/M/d' })" value="@Model.RulesPublishDateStart" placeholder="点击选择日期" /> -
                        <input id="RulesPublishDateEnd" name="RulesPublishDateEnd" class="form-control Wdate datepicker" onclick="WdatePicker({ dateFmt: 'yyyy/M/d' })" value="@Model.RulesPublishDateEnd" placeholder="点击选择日期" />
                    </td>
                </tr>
                <tr>
                    <td><label class="control-label">项目状态</label></td>
                    <td>
                       @Html.DropDownListFor(model => model.ProjStat, ViewBag.ProjStatList as SelectList, new { @class = "form-control" })
                    </td>
                    <td>
                        <input type="submit" value="查询" class="btn btn-primary" />
                        <input type="button" value="导出Excel" class="btn btn-default" onclick="doExport()" />
                        <input type="button" onclick="doCreate()" class="btn btn-default" value="新增一条" />
                    </td>
                </tr>
            </table>
        }
    </div>
</div>
@if (Model.ResultList != null)
{
    <h3>查询结果</h3>
    <div class="row card">

        @if (Model.ResultList.Count < 1)
                {
            <p class="alert alert-warning">没有符合条件的结果！</p>
        }
        else
        {
            <table class="table table-condensed table-bordered" style="font-size:12px;table-layout:fixed" width="100">
                <tr>
                    <th width="12"></th>
                    <th width="20">
                        @Html.DisplayNameFor(model => model.ResultList[0].ProjName)
                    </th>
                    <th width="12">
                        @Html.DisplayNameFor(model => model.ResultList[0].ProjNo)
                    </th>
                    <th width="12">
                        @Html.DisplayNameFor(model => model.ResultList[0].HostDept)
                    </th>
                    <th width="8">
                        @Html.DisplayNameFor(model => model.ResultList[0].HostBusiPerson)
                    </th>
                    <th width="8">
                        @Html.DisplayNameFor(model => model.ResultList[0].ProAcptDate)
                    </th>
                    <th width="8">
                        @Html.DisplayNameFor(model => model.ResultList[0].RulesPublishDate)
                    </th>
                    <th width="8">
                        @Html.DisplayNameFor(model => model.ResultList[0].ReqAnalysisName)
                    </th>
                    <th width="6">
                        @Html.DisplayNameFor(model => model.ResultList[0].ProjStat)
                    </th>
                    <th width="6">
                        @Html.DisplayNameFor(model => model.ResultList[0].ProjType)
                    </th>
                </tr>

                @foreach (var item in Model.ResultList)
                    {
                        var trid = "resultTR" + item.ProjID;
                    <tr id="@trid">
                        <td>
                            <a href="###" onclick="doEdit('@item.ProjID','@item.ProjName')">编辑</a> |
                            <a href="###" onclick="showDetail('@item.ProjID','@item.ProjName')">详情</a> |
                            <a href="###" onclick="doDelete('@item.ProjID','@item.ProjName')">删除</a> |
                            <a href="###" onclick="editPlan('@item.ProjID','@item.ProjName')">管理项目计划</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProjName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProjNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HostDept)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HostBusiPerson)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProAcptDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RulesPublishDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReqAnalysisName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProjStatName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProjTypeName)
                        </td>
                    </tr>
                }

            </table>
                    @Html.PagedListPager(list: Model.ResultList as PagedList.IPagedList<MyTeam.Models.Proj>, generatePageUrl: Page => Url.Action("Index", new { pageNum = Page }) + Model.ToQueryString())
        }
    </div>
}

<!-- 对话框1：确认删除 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    确认删除？
                </h4>
            </div>
            <div class="modal-body">
                确定要删除【<span id="toDelName"></span>】吗？
                <input type="hidden" id="toDelId" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    取消
                </button>
                <button type="button" class="btn btn-primary" onclick="realDelete()" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 对话框2：删除完成 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog"
     aria-labelledby="myModal2Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    处理结果
                </h4>
            </div>
            <div class="modal-body">
                <span id="procResult"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 对话框3：展示详情 -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    【<span id="detailName"></span>】的详情
                </h4>
            </div>
            <div class="modal-body">
                <div id="detailMain"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 对话框4：编辑页面 -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    <span id="editName"></span>
                </h4>
            </div>
            <div class="modal-body">
                <div id="Edit"></div>
            </div>
        </div>
    </div>
</div>

<!-- 对话框5：新增页面 -->
<div class="modal fade" id="myModal5" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    项目状态新增
                </h4>
            </div>
            <div class="modal-body">
                <div id="Create"></div>
            </div>
        </div>
    </div>
</div>
