@{
    Layout = null;
}
@model MyTeam.Models.WeekReportMain
<script language="javascript" type="text/javascript" src="~/Scripts/My97DatePicker/WdatePicker.js"></script>
<script>
    // 日期控件
    $(document).ready(function () {
        $("#PlanDeadLine").attr({ class: "form-control Wdate datepicker", onclick: "WdatePicker({ dateFmt: 'yyyy/M/d' })", placeholder: "点击选择日期" });

    });
</script>
<script>
    function hideForm() {
        if ($('#info > p').attr('class') == 'alert alert-success')
            $('#editForm').hide()
    }
</script>
<div class="row">
    <div class="col-md-12">
        <div id="info"></div>
        @using (Ajax.BeginForm("AddMain", "WeekReport", null, new AjaxOptions { UpdateTargetId = "info", OnComplete = "hideForm" },
                new { @class = "form-horizontal", role = "form", id="editForm" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.WorkYear, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.WorkYear, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.WorkYear, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.WorkType, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.WorkType, ViewBag.WorkTypeList as SelectList, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.WorkName, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.WorkName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.WorkName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.WorkMission, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextAreaFor(model => model.WorkMission, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.WorkMission, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.WorkStage, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextAreaFor(model => model.WorkStage, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.WorkStage, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Person, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.Person, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Person, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OutSource, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.OutSource, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.OutSource, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Progress, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.Progress, new { @class = "form-control", @type = "number" })
                    <div class="text-info" style="font-size:12px">只需要填写0-100的数字，不需要百分号</div>
                    @Html.ValidationMessageFor(model => model.Progress, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PlanDeadLine, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.PlanDeadLine)
                    @Html.ValidationMessageFor(model => model.PlanDeadLine, "", new { @class = "text-danger" })
                </div>
            </div>            

            <div class="form-group">
                @Html.LabelFor(model => model.Remark, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.Remark, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DoNotTrack, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.DoNotTrack, new { @class = "form-control" })
                    <span class="text-info" style="font-size:12px">勾选后不再导出到周报excel中</span>
                    @Html.ValidationMessageFor(model => model.DoNotTrack, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RptPersonID, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.RptPersonID, ViewBag.RptPersonIDList as SelectList, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <input type="submit" value="新增" class="btn btn-primary" />
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="关闭" />
                </div>
            </div>
        }
    </div>
</div>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
