@using PagedList
@using PagedList.Mvc
@model IEnumerable<MyTeam.Models.WeekReportDetail>

<h2>@ViewBag.Title</h2>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<!-- Ajax删除 -->
<script>
    function doDelete(id, name) {
        $('#toDelName').html(name);
        $('#toDelId').val(id);
        $('#myModal').modal();
    }

    function realDelete() {
        var id = $('#toDelId').val();
        var url = "/WeekReport/DeleteDetail/" + id;
        $.ajax({
            type: 'POST',
            url: url,
            success: function (msg) {
                $('#procResult').html(msg);

            },
            error: function () {
                $('#procResult').html("处理失败，请联系管理员");
            },
            complete: function () {
                $('#myModal2').modal();
            }
        });
    }

    // 在modal中编辑
    function doEdit(id, name) {
        $('#editName').html(name);
        var url = "/WeekReport/EditDetail/" + id;
        $.ajax({
            type: 'GET',
            url: url,
            success: function (msg) {
                $('#EditDetail').html(msg);
            },
            error: function () {
                $('#EditDetail').html("处理失败，请联系管理员");
            },
            complete: function () {
                $('#myModal3').modal();
            }
        });
    }
    // 在modal中新增
    function doCreate() {
        var url = "/WeekReport/AddDetail/";
        $.ajax({
            type: 'GET',
            url: url,
            success: function (msg) {
                $('#CreateDetail').html(msg);
            },
            error: function () {
                $('#CreateDetail').html("处理失败，请联系管理员");
            },
            complete: function () {
                $('#myModal4').modal();
            }
        });
    }
</script>

<div class="row card">
    <p>
        <input type="button" onclick="doCreate()" class="btn btn-primary" value="添加每周工作" />
        @Html.ActionLink("重点项目与工作", "MainIndex", null, new { @class = "btn btn-default" })
        @Html.ActionLink("风险与待协调问题", "RiskIndex", null, new { @class = "btn btn-default" })

    </p>

    <table class="table table-condensed table-bordered" style="font-size:0.8em">
        <tr>
            <th></th>
            <th>
                <a href="/WeekReport/DetailIndex?orderByType=1">@Html.DisplayNameFor(model => model.RptDate)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkType)
            </th>
            <th>
                <a href="/WeekReport/DetailIndex?orderByType=2">@Html.DisplayNameFor(model => model.WorkName)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkMission)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkTarget)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OutSource)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Progress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlanDeadLine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remark)
            </th>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td width="8%">
                    <a href="#" onclick="doEdit('@item.WRDetailID','@item.RptDate')">编辑</a> |
                    <a href="#" onclick="doDelete('@item.WRDetailID','@item.RptDate 的工作任务')">删除</a>
                </td>
                <td width="10%">
                    @Html.DisplayFor(modelItem => item.RptDate)
                </td>
                <td width="6%">
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                <td width="8%">
                    @Html.DisplayFor(modelItem => item.WorkType)
                </td>
                <td width="8%">
                    @Html.DisplayFor(modelItem => item.WorkName)
                </td>

                <td width="20%">
                    @Html.DisplayFor(modelItem => item.WorkMission)
                </td>

                <td width="10%">
                    @Html.DisplayFor(modelItem => item.WorkTarget)
                </td>
                <td width="5%">
                    @Html.DisplayFor(modelItem => item.Person)
                </td>
                <td width="10%">
                    @Html.DisplayFor(modelItem => item.OutSource)
                </td>
                <td width="5%">
                    @Html.DisplayFor(modelItem => item.Progress)%
                </td>
                <td width="5%">
                    @Html.DisplayFor(modelItem => item.PlanDeadLine)
                </td>
                <td width="5%">
                    @Html.DisplayFor(modelItem => item.Remark)
                </td>

            </tr>
        }
    </table>
    <!--分页-->
    @Html.PagedListPager(list: Model as PagedList.IPagedList<MyTeam.Models.WeekReportDetail>,
        generatePageUrl: Page => Url.Action("DetailIndex", new { pageNum = Page }) + ViewBag.OrdeyByTypeParam)


</div>

<!-- 对话框1：确认删除 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    确认删除？
                </h4>
            </div>
            <div class="modal-body">
                确定要删除【<span id="toDelName"></span>】吗？
                <input type="hidden" id="toDelId" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    取消
                </button>
                <button type="button" class="btn btn-primary" onclick="realDelete()" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 对话框2：删除完成 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog"
     aria-labelledby="myModal2Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    处理结果
                </h4>
            </div>
            <div class="modal-body">
                <span id="procResult"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="javascript:window.location.reload()">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 对话框3：编辑页面 -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    【<span id="editName"></span>】编辑
                </h4>
            </div>
            <div class="modal-body">
                <div id="EditDetail"></div>
            </div>
        </div>
    </div>
</div>

<!-- 对话框4：新增页面 -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    每周工作新增
                </h4>
            </div>
            <div class="modal-body">
                <div id="CreateDetail"></div>
            </div>
        </div>
    </div>
</div>

