@model IEnumerable<MyTeam.Models.WeekReportDetail>

@{
    ViewBag.Title = "每周工作";
}

<h2>@ViewBag.Title。</h2>

<p>
    @Html.ActionLink("添加每周工作", "AddDetail", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("重点项目与工作", "MainIndex", null, new { @class = "btn btn-default" })
    @Html.ActionLink("风险与待协调问题", "RiskIndex", null, new { @class = "btn btn-default" })
</p>

<!-- Ajax删除 -->
<script>
    function doDelete(id) {
        if (confirm("确定要删除？")) {
            var url = "/WeekReport/DeleteDetail/" + id;
            $.ajax({
                type: 'POST',
                url: url,
                success: function (msg) {
                    alert(msg);
                    window.location.reload();
                },
                error: function () {
                    alert("处理失败，请联系管理员");
                }
            });
        }
    }
</script>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RptDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkMission)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkDetail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkTarget)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Person)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkStat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remark)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RptDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkMission)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkDetail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkTarget)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Person)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkStat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remark)
        </td>
        <td>
            @Html.ActionLink("编辑", "EditDetail", new { id=item.WRDetailID }) |
			<a href="#" onclick="doDelete('@item.WRDetailID')">删除</a>
        </td>
    </tr>
}

</table>
