@model MyTeam.Models.WeekReportDetail

@{
    ViewBag.Title = "编辑每周工作";
}

<h2>@ViewBag.Title。</h2>

<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm("EditDetail", "WeekReport", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post,
                new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })



            @Html.HiddenFor(model => model.WRDetailID)

            <div class="form-group">
                @Html.LabelFor(model => model.RptDate, new { @class = "col-md-2 control-label" })

                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.RptDate, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.RptDate, "", new { @class = "text-danger" })
                </div>
            </div>

            if (!Model.IsWithMain)
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.WorkMission, new { @class = "col-md-2 control-label" })

                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.WorkMission, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.WorkMission, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
            else
            {
                @Html.HiddenFor(model => model.WorkMission)
            }
            <div class="form-group">
                @Html.LabelFor(model => model.WorkDetail, new { @class = "col-md-2 control-label" })

                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.WorkDetail, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.WorkDetail, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.WorkTarget, new { @class = "col-md-2 control-label" })

                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.WorkTarget, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.WorkTarget, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Person, new { @class = "col-md-2 control-label" })

                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Person, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Person, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.WorkStat, new { @class = "col-md-2 control-label" })

                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.WorkStat, ViewBag.WorkStatList as SelectList, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.WorkTime, new { @class = "col-md-2 control-label" })

                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.WorkTime, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.WorkTime, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Remark, new { @class = "col-md-2 control-label" })

                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Remark, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.HiddenFor(model => model.RptPersonID, new { @class = "form-control" })

            @Html.HiddenFor(model => model.IsWithMain, new { @class = "form-control" })

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="保存" class="btn btn-primary" />
                    @Html.ActionLink("返回", "DetailIndex", new { id = Model.WorkMission, forMain = Model.IsWithMain }, new { @class = "btn btn-default" })
                </div>
            </div>
        }

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
