@{
    Layout = null;
}
@model MyTeam.Models.WeekReportRisk

<script>
    function changeRptDate() {
        $('#RptDate').val($('#chooseRptDate').val());
    }
</script>
<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm("EditRisk", "WeekReport", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post,
                new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(model => model.WRRiskID)

            <div class="form-group">
                @Html.LabelFor(model => model.RptDate, new { @class = "col-md-2 control-label" })
                <div class="col-md-5">
                    @Html.TextBoxFor(model => model.RptDate, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.RptDate, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-5">
                    @Html.DropDownList("chooseRptDate", ViewBag.RptDateList as SelectList, new { @class = "form-control", id = "chooseRptDate", onchange = "changeRptDate()" })
                    （下拉选择已经存在的周报日期）
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.RiskDetail, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.RiskDetail, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.RiskDetail, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Solution, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Solution, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Solution, "", new { @class = "text-danger" })
                </div>
            </div>


            @Html.HiddenFor(model => model.RptPersonID, new { @class = "form-control" })

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="保存" class="btn btn-primary" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                </div>
            </div>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
