@using PagedList
@using PagedList.Mvc
@model IEnumerable<MyTeam.Models.WeekReportMain>

@{
    ViewBag.Title = "重点项目与工作";
}

<h2>@ViewBag.Title。</h2>

<p>
    @Html.ActionLink("添加重点项目与工作", "AddMain", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("每周工作", "DetailIndex", null, new { @class = "btn btn-default" })
    @Html.ActionLink("风险与待协调问题", "RiskIndex", null, new { @class = "btn btn-default" })
</p>

<!-- Ajax删除 -->
<script>
    function doDelete(id) {
        if (confirm("确定要删除？（会同时删除所有相关的每周工作！）")) {
            var url = "/WeekReport/DeleteMain/" + id;
            $.ajax({
                type: 'POST',
                url: url,
                success: function (msg) {
                    alert(msg);
                    window.location.reload();
                },
                error: function () {
                    alert("处理失败，请联系管理员");
                }
            });
        }
    }
</script>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WorkName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkStage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkMission)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Person)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkTarget)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlanDeadLine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Progress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remark)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkStage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkMission)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkTarget)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlanDeadLine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Progress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remark)
            </td>

            <td>
                @Html.ActionLink("对应每周工作", "DetailIndex", new { id = item.WRMainID, forMain = true}) |               
                @Html.ActionLink("编辑", "EditMain", new { id = item.WRMainID }) |
                <a href="#" onclick="doDelete('@item.WRMainID')">删除</a>                 
            </td>
        </tr>
    }

</table>
<!--分页-->
@Html.PagedListPager(list: Model as PagedList.IPagedList<MyTeam.Models.WeekReportMain>,
    generatePageUrl: Page => Url.Action("Index", new { pageNum = Page }))