@using PagedList
@using PagedList.Mvc
@model IEnumerable<MyTeam.Models.YearMission>

@{
    ViewBag.Title = "年度重点任务";
}

<h2>@ViewBag.Title。</h2>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<p>
    <input type="button" onclick="doCreate()" class="btn btn-primary" value="添加年度重点任务" />
</p>

<!-- Ajax删除 -->
<script>
    function doDelete(id, name) {
        $('#toDelName').html(name);
        $('#toDelId').val(id);
        $('#myModal').modal();
    }

    function realDelete() {
        var id = $('#toDelId').val();
        var url = "/WeekReport/DeleteYearMission/" + id;
        $.ajax({
            type: 'POST',
            url: url,
            success: function (msg) {
                $('#procResult').html(msg);

            },
            error: function () {
                $('#procResult').html("处理失败，请联系管理员");
            },
            complete: function () {
                $('#myModal2').modal();
            }
        });
    }

    // 在modal中编辑
    function doEdit(id, name) {
        $('#editName').html(name);
        var url = "/WeekReport/EditYearMission/" + id;
        $.ajax({
            type: 'GET',
            url: url,
            success: function (msg) {
                $('#EditYearMission').html(msg);
            },
            error: function () {
                $('#EditYearMission').html("处理失败，请联系管理员");
            },
            complete: function () {
                $('#myModal3').modal();
            }
        });
    }
    // 在modal中新增
    function doCreate() {
        var url = "/WeekReport/AddYearMission/";
        $.ajax({
            type: 'GET',
            url: url,
            success: function (msg) {
                $('#CreateYearMission').html(msg);
            },
            error: function () {
                $('#CreateYearMission').html("处理失败，请联系管理员");
            },
            complete: function () {
                $('#myModal4').modal();
            }
        });
    }
</script>

<table class="table table-condensed table-bordered" style="font-size:0.8em">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.MissionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MissionSource)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.WorkMission)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkStage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Person)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OutSource)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Progress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlanDeadLine)
        </th>               
        <th>
            @Html.DisplayNameFor(model => model.Remark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoNotTrack)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="#" onclick="doEdit('@item.YMID','年度重点任务')">编辑</a> |
                <a href="#" onclick="doDelete('@item.YMID','年度重点任务')">删除</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MissionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MissionSource)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkMission)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkStage)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.Person)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OutSource)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Progress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlanDeadLine)
            </td>           
            <td>
                @Html.DisplayFor(modelItem => item.Remark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoNotTrack)
            </td>
        </tr>
    }
</table>
<!--分页-->
@Html.PagedListPager(list: Model as PagedList.IPagedList<MyTeam.Models.YearMission>,
    generatePageUrl: Page => Url.Action("YearMissionIndex", new { pageNum = Page }))

<!-- 对话框1：确认删除 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    确认删除？
                </h4>
            </div>
            <div class="modal-body">
                确定要删除【<span id="toDelName"></span>】吗？
                <input type="hidden" id="toDelId" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    取消
                </button>
                <button type="button" class="btn btn-primary" onclick="realDelete()" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 对话框2：删除完成 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog"
     aria-labelledby="myModal2Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    处理结果
                </h4>
            </div>
            <div class="modal-body">
                <span id="procResult"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="javascript:window.location.reload()">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 对话框3：编辑页面 -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    【<span id="editName"></span>】年度重点任务编辑
                </h4>
            </div>
            <div class="modal-body">
                <div id="EditYearMission"></div>
            </div>
        </div>
    </div>
</div>

<!-- 对话框4：新增页面 -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    年度重点任务新增
                </h4>
            </div>
            <div class="modal-body">
                <div id="CreateYearMission"></div>
            </div>
        </div>
    </div>
</div>