@{
    Layout = null;
}
@model MyTeam.Models.TrackTaskCreateEdit
<script>
    function hideForm() {
        if ($('#info > p').attr('class') == 'alert alert-success')
            $('#editForm').hide()
    }
</script>
<script language="javascript" type="text/javascript" src="~/Scripts/My97DatePicker/WdatePicker.js"></script>



<div class="row">
    <div class="col-md-12">
        <div id="info"></div>
        @using (Ajax.BeginForm("Edit", "TrackTaskManage", null, new AjaxOptions { UpdateTargetId = "info", OnComplete = "hideForm" },
                new { @class = "form-horizontal", role = "form", id = "editForm" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(model=>model.TrackTask.TrackTaskID)
            @Html.HiddenFor(model => model.OldTaskPersons)

            <div class="form-group">
                @Html.LabelFor(model => model.TrackTask.TrackTaskName, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.TrackTask.TrackTaskName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TrackTask.TrackTaskName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TrackTask.CreateDate, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.TrackTask.CreateDate, "DateTime")
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TaskPersons, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.TaskPersons, ViewBag.PersonList as MultiSelectList, new { @class = "form-control", @multiple = "multiple" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TrackTask.TrackTaskStat, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    <select id="TrackTask_TrackTaskStat" name="TrackTask.TrackTaskStat" class="form-control">
                        <option value="1">进行中</option>
                        <option value="2">已完成</option>
                        <option value="3">已暂停</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TrackTask.Remark, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextAreaFor(model => model.TrackTask.Remark, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TrackTask.Remark, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <input type="submit" value="保存" class="btn btn-primary" />
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="关闭" />
                </div>
            </div>
        }
    </div>
</div>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<script>
    $(function () {
        $("#TrackTaskStat").val('@Model.TrackTask.TrackTaskStat');
        $("#TaskPersons").select2();
    });
</script>