@using PagedList
@using PagedList.Mvc
@model MyTeam.Models.ReqTrackQuery
@{
    ViewBag.Title = "业需软需状态跟踪管理";
}
<h2>@ViewBag.Title。</h2>
<script src="/Scripts/jquery.unobtrusive-ajax.js"></script>
<script>
    function doDelete(id, name) {
        $('#toDelName').html(name);
        $('#toDelId').val(id);
        $('#myModal').modal();
    }

    function realDelete() {
        var id = $('#toDelId').val();
        var url = "/ReqTrack/Delete/" + id;
        $.ajax({
            type: 'POST',
            url: url,
            success: function (msg) {
                $('#procResult').html(msg);
            },
            error: function () {
                $('#procResult').html("处理失败，请联系管理员");
            },
            complete: function () {
                $('#myModal2').modal();
            }
        });
    }

    // 在modal中编辑
    function doEdit(id, name) {
        $('#editName').html(name);
        var url = "/ReqTrack/Edit/" + id;
        $.ajax({
            type: 'GET',
            url: url,
            success: function (msg) {
                $('#EditMain').html(msg);
            },
            error: function () {
                $('#EditMain').html("处理失败，请联系管理员");
            },
            complete: function () {
                $('#myModal3').modal();
            }
        });
    }

    // 在modal中新增
    function doCreate() {
        var url = "/ReqTrack/Create";
        $.ajax({
            type: 'GET',
            url: url,
            success: function (msg) {
                $('#Create').html(msg);
            },
            error: function () {
                $('#Create').html("处理失败，请联系管理员");
            },
            complete: function () {
                $('#myModal4').modal();
            }
        });
    }
</script>
<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm("Index", "ReqTrack", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Get,
                new { @class = "form-horizontal", role = "form", id = "myForm" }))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <input type="hidden" name="isQuery" value="True" />
            <table class="table table-condensed query-table">
                <tr>
                    <td>@Html.LabelFor(model => model.ProjID, new { @class = "control-label" })</td>
                    <td>
                        <!--项目下拉选择-->
                        @Html.DropDownListFor(model => model.ProjID, ViewBag.ProjList as SelectList, new { @class = "form-control" })
                    </td>
                    <td>
                        <input type="submit" value="查询" class="btn btn-primary" />
                        <input type="button" onclick="doCreate()" class="btn btn-default" value="新增一条" />
                        @Html.ActionLink("批量导入", "Import", null, new { @class = "btn btn-default" })
                    </td>
                </tr>
            </table>

        }
    </div>
    <div class="col-md-12">
        @if (Model.ResultList != null)
        {
            if (Model.ResultList.Count < 1)
            {
                <p class="alert alert-warning">没有符合条件的结果！</p>
            }
            else
            {
                <table class="table table-condensed table-bordered" style="font-size:0.8em">
                    <tr>
                        <th></th>
                        <th>
                            @Html.DisplayNameFor(model => model.ResultList[0].ProjID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ResultList[0].ReqNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ResultList[0].ReqName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ResultList[0].Priority)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ResultList[0].PlanDeadLine)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ResultList[0].RealDeadLine)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ResultList[0].ChangeChar)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ResultList[0].ApproveDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ResultList[0].SoftReqNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ResultList[0].SoftReqName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ResultList[0].ReqStat)
                        </th>
                    </tr>
                    @foreach (var item in Model.ResultList)
                    {
                        <tr>
                            <td>
                                <a href="#" onclick="doEdit('@item.TrackID','@item.ProjName')">编辑</a> |
                                <a href="#" onclick="doDelete('@item.TrackID','@item.ProjName 的业需软需状态跟踪记录')">删除</a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProjName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReqNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReqName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Priority)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PlanDeadLine)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RealDeadLine)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ChangeChar)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ApproveDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SoftReqNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SoftReqName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReqStat)
                            </td>
                        </tr>
                    }
                </table>
                <!--分页-->
                @Html.PagedListPager(list: Model.ResultList as PagedList.IPagedList<MyTeam.Models.ReqTrack>,
         generatePageUrl: Page => Url.Action("Index", new { pageNum = Page }) + Model.ToQueryString())
            }
        }
    </div>
</div>

<!-- 对话框1：确认删除 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    确认删除？
                </h4>
            </div>
            <div class="modal-body">
                确定要删除【<span id="toDelName"></span>】吗？
                <input type="hidden" id="toDelId" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    取消
                </button>
                <button type="button" class="btn btn-primary" onclick="realDelete()" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<!-- 对话框2：删除完成 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog"
     aria-labelledby="myModal2Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    处理结果
                </h4>
            </div>
            <div class="modal-body">
                <span id="procResult"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="javascript:window.location.reload()">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 对话框3：编辑页面 -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    【<span id="editName"></span>】业需软需状态跟踪编辑
                </h4>
            </div>
            <div class="modal-body">
                <div id="EditMain"></div>
            </div>
        </div>
    </div>
</div>

<!-- 对话框4：新增页面 -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    业需软需状态跟踪新增
                </h4>
            </div>
            <div class="modal-body">
                <div id="Create"></div>
            </div>
        </div>
    </div>
</div>