@using PagedList
@using PagedList.Mvc
@model IEnumerable<MyTeam.Models.ReqTrack>


@{
    ViewBag.Title = "业需软需状态跟踪管理";

}

<h2>@ViewBag.Title。</h2>


<p>
    @Html.ActionLink("添加业需软需状态跟踪", "Create", null, new { @class= "btn btn-primary"})
</p>

<!-- Ajax删除 -->
<script>
    function doDelete(id, name) {
        $('#toDelName').html(name);
        $('#toDelId').val(id);
        $('#myModal').modal();
    }

    function realDelete() {
        var id = $('#toDelId').val();
        var url = "/ReqTrack/Delete/" + id;
        $.ajax({
            type: 'POST',
            url: url,
            success: function (msg) {
                $('#procResult').html(msg);

            },
            error: function () {
                $('#procResult').html("处理失败，请联系管理员");
            },
            complete: function () {
                $('#myModal2').modal();
            }
        });
    }
</script>

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.ProjID)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ReqNo)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ReqName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.PlanDeadLine)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.RealDeadLine)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ChangeChar)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ApproveDate)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.SoftReqNo)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.SoftReqName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ReqStat)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.ProjName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.ReqNo)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.ReqName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Priority)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.PlanDeadLine)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.RealDeadLine)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.ChangeChar)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.ApproveDate)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.SoftReqNo)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.SoftReqName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.ReqStat)
        </td>

        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.TrackID }) |
            @Html.ActionLink("详情", "Details", new { id=item.TrackID }) |
			<a href="#" onclick="doDelete('@item.TrackID','@item.ProjName 的业需软需状态跟踪记录')">删除</a>
        </td>
    </tr>
}

</table>
<!--分页-->
@Html.PagedListPager(list: Model as PagedList.IPagedList<MyTeam.Models.ReqTrack>,
generatePageUrl: Page => Url.Action("Index", new { pageNum = Page }))

<!-- 对话框1：确认删除 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    确认删除？
                </h4>
            </div>
            <div class="modal-body">
                确定要删除【<span id="toDelName"></span>】吗？
                <input type="hidden" id="toDelId" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    取消
                </button>
                <button type="button" class="btn btn-primary" onclick="realDelete()" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 对话框2：删除完成 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog"
     aria-labelledby="myModal2Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    处理结果
                </h4>
            </div>
            <div class="modal-body">
                <span id="procResult"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="javascript:window.location.reload()">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>



