@model List<MyTeam.Models.Req>
@{
    ViewBag.Title = "批量登记-第二步";
}

<h2>@ViewBag.Title。</h2>
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("RegResult", "ReqManage", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post,
                new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <table class="table table-condensed table-bordered">
                <tr>                    
                    <th>
                        @Html.DisplayNameFor(model => model[0].ReqDesc)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model[0].ReqType)
                    </th>                   
                    <th>
                        @Html.DisplayNameFor(model => model[0].Remark)
                    </th>

                </tr>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <tr>
                        <!--上一页填的内容不再显示-->
                        @Html.HiddenFor(model => model[i].SysId)
                        @Html.HiddenFor(model => model[i].AcptDate)
                        @Html.HiddenFor(model => model[i].ReqNo)
                        @Html.HiddenFor(model => model[i].ReqReason)
                        @Html.HiddenFor(model => model[i].ReqFromDept)
                        @Html.HiddenFor(model => model[i].ReqFromPerson)
                        @Html.HiddenFor(model => model[i].ReqAcptPerson)
                        @Html.HiddenFor(model => model[i].ReqBusiTestPerson)
                                               
                        <td>
                            @Html.TextBoxFor(model => model[i].ReqDesc, new { @class = "form-control text-center", @style = "margin:0 auto" })
                        </td>
                        <td>
                            <!--需求类型下拉选择-->
                            @Html.DropDownListFor(model => model[i].ReqType, ViewBag.ReqTypeList as SelectList, new { @class = "form-control text-center", @style = "margin:0 auto" })
                        </td>
                                               
                        <td>
                            @Html.TextBoxFor(model => model[i].Remark, new { @class = "form-control text-center", @style = "margin:0 auto" })
                        </td>
                    </tr>
                }
            </table>

            <div>
                <input type="button" value="上一步" class="btn btn-default" onclick="javascript:window.history.back()"/>
                <input type="submit" value="登记入库！" class="btn btn-primary" />
            </div>
        }
    </div>
</div>
<script src="/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="/Scripts/jquery.validate.min.js"></script>
<script src="/Scripts/jquery.validate.unobtrusive.min.js"></script>
