@{
    Layout = null;
}

@model MyTeam.Models.FullReq

@if (Model == null || Model.reqDetail==null)
{
    <div class="alert alert-warning">无此记录</div>
    @Html.ActionLink("返回", "Index", null, new { @class = "btn btn-default" })
    return;
}

<div class="row">
    <div class="col-md-12 form-horizontal">
        <fieldset>
            <legend>需求申请信息</legend>
            <div class="form-group">
                @Html.LabelFor(model => model.reqMain.SysID, new { @class = "col-md-3 control-label" })
                <div class="col-md-9 form-control-static">
                    @Html.DisplayFor(model => model.reqMain.SysName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.reqMain.AcptDate, new { @class = "col-md-3 control-label" })
                <div class="col-md-9 form-control-static">
                    @Html.DisplayFor(model => model.reqMain.AcptDate)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.reqMain.ReqNo, new { @class = "col-md-3 control-label" })
                <div class="col-md-9 form-control-static">
                    @Html.DisplayFor(model => model.reqMain.ReqNo)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.reqMain.ReqReason, new { @class = "col-md-3 control-label" })
                <div class="col-md-9 form-control-static">
                    @Html.DisplayFor(model => model.reqMain.ReqReason)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.reqMain.ReqFromDept, new { @class = "col-md-3 control-label" })
                <div class="col-md-9 form-control-static">
                    @Html.DisplayFor(model => model.reqMain.ReqFromDept)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.reqMain.ReqFromPerson, new { @class = "col-md-3 control-label" })
                <div class="col-md-9 form-control-static">
                    @Html.DisplayFor(model => model.reqMain.ReqFromPerson)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.reqMain.ReqBusiTestPerson, new { @class = "col-md-3 control-label" })
                <div class="col-md-9 form-control-static">
                    @Html.DisplayFor(model => model.reqMain.ReqBusiTestPerson)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.reqMain.ReqAcptPerson, new { @class = "col-md-3 control-label" })
                <div class="col-md-9 form-control-static">
                    @Html.DisplayFor(model => model.reqMain.ReqAcptPersonNamePhone)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.reqMain.ReqDevPerson, new { @class = "col-md-3 control-label" })
                <div class="col-md-9 form-control-static">
                    @Html.DisplayFor(model => model.reqMain.ReqDevPerson)
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.reqMain.DevAcptDate, new { @class = "col-md-3 control-label" })
                <div class="col-md-9 form-control-static">
                    @Html.DisplayFor(model => model.reqMain.DevAcptDate)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.reqMain.DevEvalDate, new { @class = "col-md-3 control-label" })
                <div class="col-md-9 form-control-static">
                    @Html.DisplayFor(model => model.reqMain.DevEvalDate)
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>需求明细信息</legend>
            <div class="form-group">
                @Html.LabelFor(model => model.reqDetail.ReqDetailNo, new { @class = "col-md-3 control-label" })
                <div class="col-md-9 form-control-static">
                    @Html.DisplayFor(model => model.reqDetail.ReqDetailNo)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.reqDetail.ReqDesc, new { @class = "col-md-3 control-label" })
                <div class="col-md-9 form-control-static">
                    @Html.DisplayFor(model => model.reqDetail.ReqDesc)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.reqDetail.ReqType, new { @class = "col-md-3 control-label" })
                <div class="col-md-9 form-control-static">
                    @Html.DisplayFor(model => model.reqDetail.ReqTypeName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.reqDetail.DevWorkload, new { @class = "col-md-3 control-label" })
                <div class="col-md-9 form-control-static">
                    @Html.DisplayFor(model => model.reqDetail.DevWorkload)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.reqDetail.ReqStat, new { @class = "col-md-3 control-label" })
                <div class="col-md-9 form-control-static">
                    @Html.DisplayFor(model => model.reqDetail.ReqStatName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.reqDetail.IsSysAsso, new { @class = "col-md-3 control-label" })
                <div class="col-md-9 form-control-static">
                    @Html.DisplayFor(model => model.reqDetail.IsSysAsso)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.reqDetail.AssoSysName, new { @class = "col-md-3 control-label" })
                <div class="col-md-9 form-control-static">
                    @Html.DisplayFor(model => model.reqDetail.AssoSysName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.reqDetail.AssoReqNo, new { @class = "col-md-3 control-label" })
                <div class="col-md-9 form-control-static">
                    @Html.DisplayFor(model => model.reqDetail.AssoReqNo)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.reqDetail.AssoReleaseDesc, new { @class = "col-md-3 control-label" })
                <div class="col-md-9 form-control-static">
                    @Html.DisplayFor(model => model.reqDetail.AssoReleaseDesc)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.reqDetail.Remark, new { @class = "col-md-3 control-label" })
                <div class="col-md-9 form-control-static">
                    @Html.DisplayFor(model => model.reqDetail.Remark)
                </div>
            </div>           

            <div class="form-group">
                @Html.LabelFor(model => model.reqDetail.Version, new { @class = "col-md-3 control-label" })
                <div class="col-md-9 form-control-static">
                    @Html.DisplayFor(model => model.reqDetail.Version)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.reqDetail.OutDate, new { @class = "col-md-3 control-label" })
                <div class="col-md-9 form-control-static">
                    @Html.DisplayFor(model => model.reqDetail.OutDate)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.reqDetail.CreateTime, new { @class = "col-md-3 control-label" })
                <div class="col-md-9 form-control-static">
                    @Html.DisplayFor(model => model.reqDetail.CreateTime)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.reqDetail.UpdateTime, new { @class = "col-md-3 control-label" })
                <div class="col-md-9 form-control-static">
                    @Html.DisplayFor(model => model.reqDetail.UpdateTime)
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>需求下发信息</legend>
            @if(Model.reqReleases == null || Model.reqReleases.Count < 1)
            {
                <p class="text text-warning">暂无下发信息</p>
            }
            else
            {
                <table class="table table-table-condensed">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.reqReleases[0].ReleaseNo)</th>
                        <th>@Html.DisplayNameFor(model => model.reqReleases[0].PlanReleaseDate)</th>
                        <th>@Html.DisplayNameFor(model => model.reqReleases[0].ReleaseDate)</th>                        
                    </tr>
                    @foreach (var item in Model.reqReleases)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReleaseNo)
                                @if(item.IsSideRelease)
                                {
                                    <span>（副下发）</span>
                                }
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.PlanReleaseDate)</td>
                            <td>@Html.DisplayFor(modelItem => item.ReleaseDate)</td>
                            
                        </tr>
                    }
                    

                </table>
            }
            
        </fieldset>



        
    </div>
</div>

