@{
    Layout = null;
}

@model MyTeam.Models.Req

@if (Model == null)
{
    <div class="alert alert-warning">无此记录</div>
    @Html.ActionLink("返回", "Index", null, new { @class = "btn btn-default" })
    return;
}
<script language="javascript" type="text/javascript" src="~/Scripts/My97DatePicker/WdatePicker.js"></script>

<script>
    function hideForm() {
        if ($('#info > p').attr('class') == 'alert alert-success')
            $('form').hide()
    }
</script>

<div class="row">
    <div class="col-md-12">
        <div id="info"></div>
        @using (Ajax.BeginForm("Edit", "ReqManage", null, new AjaxOptions { UpdateTargetId = "info", OnComplete = "hideForm" },
                new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            @Html.HiddenFor(model => model.RID);
            @Html.HiddenFor(model => model.OldReqDetailNo);
            @Html.HiddenFor(model => model.CreateTime);
            
                <!--系统下拉选择-->
            <div class="form-group">
                @Html.LabelFor(model => model.SysId, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.SysId, ViewBag.SysList as SelectList, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AcptDate, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.AcptDate, "DateTime")
                    @Html.ValidationMessageFor(model => model.AcptDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ReqNo, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.ReqNo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ReqNo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ReqReason, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.ReqReason, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ReqReason, "", new { @class = "text-danger" })
                </div>
            </div>

			<!--需求发起单位下拉选择-->
            <div class="form-group">
                @Html.LabelFor(model => model.ReqFromDept, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.ReqFromDept, ViewBag.ReqFromDeptList as SelectList, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ReqFromPerson, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.ReqFromPerson, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ReqFromPerson, "", new { @class = "text-danger" })
                </div>
            </div>

			<!--需求受理人下拉选择-->
            <div class="form-group">
                @Html.LabelFor(model => model.ReqAcptPerson, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.ReqAcptPerson, ViewBag.UserList as SelectList, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ReqDevPerson, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.ReqDevPerson, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ReqDevPerson, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ReqBusiTestPerson, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.ReqBusiTestPerson, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ReqBusiTestPerson, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DevAcptDate, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.DevAcptDate, "DateTime")
                    @Html.ValidationMessageFor(model => model.DevAcptDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DevEvalDate, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.DevEvalDate, "DateTime")
                    @Html.ValidationMessageFor(model => model.DevEvalDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ReqDetailNo, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.ReqDetailNo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ReqDetailNo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Version, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.Version, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Version, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.BusiReqNo, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.BusiReqNo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BusiReqNo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ReqDesc, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.ReqDesc, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ReqDesc, "", new { @class = "text-danger" })
                </div>
            </div>

			<!--需求类型下拉选择-->
            <div class="form-group">
                @Html.LabelFor(model => model.ReqType, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.ReqType, ViewBag.ReqTypeList as SelectList, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DevWorkload, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.DevWorkload, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DevWorkload, "", new { @class = "text-danger" })
                </div>
            </div>

			<!--需求状态下拉选择-->
            <div class="form-group">
                @Html.LabelFor(model => model.ReqStat, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.ReqStat, ViewBag.ReqStatList as SelectList, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OutDate, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.OutDate, "DateTime")
                    @Html.ValidationMessageFor(model => model.OutDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PlanRlsDate, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.PlanRlsDate, "DateTime")
                    @Html.ValidationMessageFor(model => model.PlanRlsDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RlsNo, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.RlsNo, new { @class = "form-control", @onBlur = "checkRlsNo()" })
                    @Html.ValidationMessageFor(model => model.RlsNo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RlsDate, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.RlsDate, "DateTime")
                    @Html.ValidationMessageFor(model => model.RlsDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SecondRlsNo, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.SecondRlsNo, new { @class = "form-control", @onBlur = "checkSecondRlsNo()" })
                    @Html.ValidationMessageFor(model => model.SecondRlsNo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SecondRlsDate, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.SecondRlsDate, "DateTime")
                    @Html.ValidationMessageFor(model => model.SecondRlsDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IsSysAsso, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.CheckBoxFor(model => model.IsSysAsso, new { @class = "checkbox" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AssoSysName, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.AssoSysName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.AssoSysName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AssoReqNo, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.AssoReqNo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.AssoReqNo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AssoRlsDesc, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.AssoRlsDesc, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.AssoRlsDesc, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Remark, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.Remark, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <input type="submit" value="保存" class="btn btn-primary" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                </div>
            </div>
        }
    </div>
</div>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>
    function checkRlsNo() {
        // 下发通知编号格式控制
        var rlsNo = $("#RlsNo").val();

        var rname = /[\u4E00-\u9FA5]/;
        if (rlsNo.length > 0) {
            if (rname.test(rlsNo)) {
                alert("下发通知编号不能含有汉字");
                $("#RlsNo").focus();
                return;
            }
            if (rlsNo.length != 12) {
                alert("下发通知编号必须是形如YFZX20160101");
                $("#RlsNo").focus();
                return;
            }
        }
    }

    function checkSecondRlsNo() {
        // 副下发通知编号格式控制
        var secondRlsNo = $("#SecondRlsNo").val();

        var rname = /[\u4E00-\u9FA5]/;
        if (secondRlsNo.length > 0) {
            if (rname.test(secondRlsNo)) {
                $("#SecondRlsNo").focus();
                alert("副下发通知编号不能含有汉字");
                return;
            }
            
            if (secondRlsNo.length != 12) {
                alert("副下发通知编号必须是形如YFZX20160101");
                $("#SecondRlsNo").focus();
                return;
            }
        }
    }
</script>