@using PagedList
@using PagedList.Mvc
@model MyTeam.Models.ReqQuery
@{
    ViewBag.Title = "维护需求管理";
}
<h2>@ViewBag.Title。</h2>
<script language="javascript" type="text/javascript" src="~/Scripts/My97DatePicker/WdatePicker.js"></script>
<script>
    function doDelete(id) {
        if (confirm("确定要删除？")) {
            var url = "/ReqManage/Delete/" + id;
            $.ajax({
                type: 'POST',
                url: url,
                success: function (msg) {
                    alert(msg);
                    $("#resultTR" + id).remove();
                },
                error: function () {
                    alert("处理失败，请联系管理员");
                }
            });
        }
    }

    // 导出excel
    function doExport() {
        $('#isExcel').val(true);
        $('#myForm').submit();
        $('#isExcel').val(false);
    }
</script>
<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm("Index", "ReqManage", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Get,
                new { @class = "form-horizontal", role = "form", id = "myForm" }))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <input type="hidden" name="isQuery" value="True" />
            <input type="hidden" id="isExcel" name="isExcel" value="False" />

            <table class="table table-condensed query-table">
                <tr>
                    <td>@Html.LabelFor(model => model.SysId, new { @class = "control-label" })</td>
                    <td>
                        <!--系统下拉选择-->
                        @Html.DropDownListFor(model => model.SysId, ViewBag.SysList as SelectList, new { @class = "form-control" })
                    </td>
                    <td>@Html.LabelFor(model => model.AcptMonth, new { @class = "control-label" })</td>
                    <td>
                        <input id="AcptMonth" name="AcptMonth" class="form-control Wdate datepicker" onclick="WdatePicker({ dateFmt: 'yyyy/M' })" value="@Model.AcptMonth" readonly="readonly" placeholder="点击选择日期" />
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.ReqNo, new { @class = "control-label" })</td>
                    <td>
                        @Html.TextBoxFor(model => model.ReqNo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ReqNo, "", new { @class = "text-danger" })
                    </td>
                    <td>@Html.LabelFor(model => model.ReqDetailNo, new { @class = "control-label" })</td>
                    <td>
                        @Html.TextBoxFor(model => model.ReqDetailNo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ReqDetailNo, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.Version, new { @class = "control-label" })</td>
                    <td>
                        @Html.TextBoxFor(model => model.Version, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Version, "", new { @class = "text-danger" })
                    </td>
                    <td>@Html.LabelFor(model => model.ReqStat, new { @class = "control-label" })</td>
                    <td class="form-inline">
                        <!--需求状态下拉选择-->
                        @Html.DropDownListFor(model => model.ReqStat, ViewBag.ReqStatList as SelectList, new { @class = "form-control" })
                        <!-- 勾选不等于 -->
                        @Html.CheckBoxFor(model => model.NotEqual, new { @class="checkbox" })
                        @Html.LabelFor(model => model.NotEqual)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.ReqAcptPerson, new { @class = "control-label" })</td>
                    <td>
                        <!--需求受理人下拉选择-->
                        @Html.DropDownListFor(model => model.ReqAcptPerson, ViewBag.ReqAcptPersonList as SelectList, new { @class = "form-control" })
                    </td>

                    <td></td>
                    <td>
                        <input type="submit" value="查询" class="btn btn-primary" />
                        <input type="button" value="导出Excel" class="btn btn-default" onclick="doExport()" />
                        <input type="button" value="新增一条" class="btn btn-default" onclick="javascript:window.location.href='/ReqManage/Create'" />
                    </td>
                </tr>
            </table>
        }
    </div>
    <div>
        @if (Model.ResultList != null)
        {
            if (Model.ResultList.Count < 1)
            {
                <p class="text-warning">没有符合条件的结果！</p>
            }
            else
            {
                <table class="table table-condensed" style="font-size:12px">
                    <tr>
                        <th></th>
                        <th>
                            @Html.DisplayNameFor(model => model.ResultList[0].SysId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ResultList[0].AcptDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ResultList[0].ReqNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ResultList[0].ReqDetailNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ResultList[0].Version)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ResultList[0].ReqReason)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ResultList[0].ReqDesc)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ResultList[0].ReqStat)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ResultList[0].ReqAcptPerson)
                        </th>
                    </tr>
                    @foreach (var item in Model.ResultList)
                    {
                        var trid = "resultTR" + item.RID;
                        <tr id="@trid">
                            <td>
                                @Html.ActionLink("编辑", "Edit", new { id = item.RID }) |
                                @Html.ActionLink("详情", "Details", new { id = item.RID }, new { target = "_blank" }) |
                                <a href="#" onclick="doDelete('@item.RID')">删除</a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SysName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AcptDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReqNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReqDetailNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Version)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReqReason)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReqDesc)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReqStat)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReqAcptPersonNamePhone)
                            </td>
                        </tr>
                    }
                </table>
                @Html.PagedListPager(list: Model.ResultList as PagedList.IPagedList<MyTeam.Models.Req>, generatePageUrl: Page => Url.Action("Index", new { pageNum = Page }) + Model.ToQueryString())
            }

        }
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
