@model MyTeam.Models.InPoolReq

@{
    ViewBag.Title = "需求入池-第一步";
}

<h2>@ViewBag.Title。</h2>
<script language="javascript" type="text/javascript" src="~/Scripts/My97DatePicker/WdatePicker.js"></script>

<div class="row">
    <div class="col-md-10">
        @using (Html.BeginForm("InPoolStep2", "ReqManage", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post,
                new { @class = "form-horizontal", role = "form", id = "MyForm" }))
        {

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.ReqNo, new { @class = "col-md-2 control-label" })

                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.ReqNo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ReqNo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ReqDevPerson, new { @class = "col-md-2 control-label" })

                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.ReqDevPerson, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ReqDevPerson, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DevAcptDate, new { @class = "col-md-2 control-label" })

                <div class="col-md-10">
                    @Html.EditorFor(model => model.DevAcptDate, "DateTime")
                    @Html.ValidationMessageFor(model => model.DevAcptDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DevEvalDate, new { @class = "col-md-2 control-label" })

                <div class="col-md-10">
                    @Html.EditorFor(model => model.DevEvalDate, "DateTime")
                    @Html.ValidationMessageFor(model => model.DevEvalDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="下一步" class="btn btn-primary" />
                </div>
            </div>

        }

    </div>
</div>

<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
