@model MyTeam.Models.InPoolReq
@{
    Layout = null;
}

@if(Model.ReqDetails.Count() < 1)
{
    <p class="alert alert-danger">没有获取到相关需求信息，无法进行入池！</p>
    return;
}

<script language="javascript" type="text/javascript" src="~/Scripts/My97DatePicker/WdatePicker.js"></script>

@using (Html.BeginForm("InPoolResult", "ReqManage", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post,
                                                                                       new { @class = "form-horizontal", role = "form" }))
{
    <div class="row card">
        @Html.AntiForgeryToken()
        <div class="well well-sm"><b>需求申请事由：</b>@Html.DisplayFor(model => model.ReqMain.ReqReason)</div>
        <table class="table table-condensed query-table">

            <tr>
                <td>@Html.LabelFor(model => model.ReqMain.AcptDate, new { @class = "control-label" })</td>
                <td>
                    @Html.EditorFor(model => model.ReqMain.AcptDate, "DateTime")
                    @Html.ValidationMessageFor(model => model.ReqMain.AcptDate, "", new { @class = "text-danger" })
                </td>

                <td>@Html.LabelFor(model => model.ReqMain.ReqNo, new { @class = "control-label" })</td>
                <td>
                    @Html.HiddenFor(model => model.ReqMain.OldReqNo)
                    @Html.TextBoxFor(model => model.ReqMain.ReqNo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ReqMain.ReqNo, "", new { @class = "text-danger" })
                </td>

            </tr>

            <tr>

                <td>@Html.LabelFor(model => model.ReqMain.DevAcptDate, new { @class = "control-label" })</td>
                <td>
                    @Html.EditorFor(model => model.ReqMain.DevAcptDate, "DateTime")
                    @Html.ValidationMessageFor(model => model.ReqMain.DevAcptDate, "", new { @class = "text-danger" })
                </td>

                <td>@Html.LabelFor(model => model.ReqMain.DevEvalDate, new { @class = "control-label" })</td>
                <td>
                    @Html.EditorFor(model => model.ReqMain.DevEvalDate, "DateTime")
                    @Html.ValidationMessageFor(model => model.ReqMain.DevEvalDate, "", new { @class = "text-danger" })
                </td>
            </tr>

            <tr>
                <td>@Html.LabelFor(model => model.ReqMain.ReqDevPerson, new { @class = "control-label" })</td>
                <td>
                    @Html.TextBoxFor(model => model.ReqMain.ReqDevPerson, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ReqMain.ReqDevPerson, "", new { @class = "text-danger" })
                </td>
            </tr>


        </table>
        @Html.HiddenFor(model=>model.ReqMain.ReqMainID)
        <hr />
        <!-- detail part -->
        <table class="table table-condensed query-table">
            <tr>
                <th width="20%">
                    @Html.DisplayNameFor(model => model.ReqDetails[0].ReqDetailNo)
                </th>

                <th width="50%">
                    @Html.DisplayNameFor(model => model.ReqDetails[0].ReqDesc)
                </th>

                <th width="10%">
                    @Html.DisplayNameFor(model => model.ReqDetails[0].DevWorkload)
                </th>
                <th width="20%">
                    @Html.DisplayNameFor(model => model.ReqDetails[0].ReqStat)
                </th>
            </tr>


            @for (int i = 0; i < Model.ReqDetails.Count(); i++)
                {
                <tr>
                    <td>
                        @Html.HiddenFor(model => model.ReqDetails[i].ReqDetailID)
                        @Html.TextBoxFor(model => model.ReqDetails[i].ReqDetailNo, new { @class = "form-control", @style = "margin:0 auto; max-width:100%!important", @required= "required" })
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.ReqDetails[i].ReqDesc, new { @class = "form-control", @style = "margin:0 auto; max-width:100%!important", @readonly="readonly" })
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.ReqDetails[i].DevWorkload, new { @class = "form-control", @style = "margin:0 auto; max-width:100%!important" })
                    </td>
                    <td>
                        @Html.DropDownListFor(model => model.ReqDetails[i].ReqStat, ViewBag.ReqStatList as SelectList, new { @class = "form-control" })
                    </td>
                </tr>
            }


        </table>

        <input type="submit" value="提交" class="btn btn-primary" />
    </div>
}

<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>