@model MyTeam.Models.InPoolReq

@{
    ViewBag.Title = "需求入池";
}

<h2>@ViewBag.Title。</h2>
<script language="javascript" type="text/javascript" src="~/Scripts/My97DatePicker/WdatePicker.js"></script>
<script>
    // 日期控件
    $(document).ready(function () {
        $("#AcptDate").attr({ class: "form-control Wdate datepicker", onclick: "WdatePicker({ dateFmt: 'yyyy/M/d' })", placeholder: "点击选择日期" });
        $("#DevAcptDate").attr({ class: "form-control Wdate datepicker", onclick: "WdatePicker({ dateFmt: 'yyyy/M/d' })", placeholder: "点击选择日期" });
        $("#DevEvalDate").attr({ class: "form-control Wdate datepicker", onclick: "WdatePicker({ dateFmt: 'yyyy/M/d' })", placeholder: "点击选择日期" });
    });
</script>
<div class="row">
    <div class="col-md-10">
        @using (Ajax.BeginForm("InPool", "ReqManage", null, new AjaxOptions { UpdateTargetId = "info" },
                new { @class = "form-horizontal", role = "form" }))
        {
            <div id="info"></div>
            
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.ReqNo, new { @class = "col-md-2 control-label" })

                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.ReqNo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ReqNo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ReqDevPerson, new { @class = "col-md-2 control-label" })

                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.ReqDevPerson, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ReqDevPerson, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DevAcptDate, new { @class = "col-md-2 control-label" })

                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.DevAcptDate, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DevAcptDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DevEvalDate, new { @class = "col-md-2 control-label" })

                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.DevEvalDate, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DevEvalDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DevWorkload, new { @class = "col-md-2 control-label" })

                <div class="col-md-10">
                    <textarea id="DevWorkload" name="DevWorkload" class="form-control" rows="5"></textarea>
                    <span class="text-info">请将每条需求的研发评估工作量分行填写，系统自动按照顺序更新</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="入池！" class="btn btn-primary" />
                </div>
            </div>

        }

    </div>
</div>

<script src="/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="/Scripts/jquery.validate.js"></script>
<script src="/Scripts/jquery.validate.unobtrusive.js"></script>
