@{
    Layout = null;
}
@model MyTeam.Models.Leave
<script>
     function hideForm() {
        if ($('#info > p').attr('class') == 'alert alert-success')
            $('#editForm').hide()
    }

    function checkDays() {
        if ($('#LeaveDays').val() != "0.5") {
            showAlertWithDefaultTitle('只有请假天数为半天的时候可以抵扣！');
            $('#IsDeductedBox').prop("checked", "");
            $('#IsDeducted').val(false);
            return;
        }
        var restTimes = $('#RestTimes').val();
        if (restTimes == "" || restTimes == "0") {
            showAlertWithDefaultTitle('当前无可抵扣次数！');
            $('#IsDeductedBox').prop("checked", "");
            $('#IsDeducted').val(false);
            return;
        }
        $('#IsDeducted').val(true);
    }

    function getRestTimes() {
        var uid = $('#PersonID').val();
        $.ajax({
            type: 'GET',
            url: '/LeaveManage/GetRestTimes?uid=' + uid,
            success: function (msg) {
                $('#RestTimes').val(msg);
                $('#restTimesLabel').html(msg);
            },
            error: function () {
                showAlertWithDefaultTitle("出错了，请联系管理员");
            }

        });
    }

</script>
<script language="javascript" type="text/javascript" src="~/Scripts/My97DatePicker/WdatePicker.js"></script>
<script>
    // 日期控件
    $(document).ready(function () {
        $("#LeaveDate").attr({ class: "form-control Wdate datepicker", onclick: "WdatePicker({ dateFmt: 'yyyy/M/d' })", placeholder: "点击选择日期" });

    });
</script>
<div class="row">
    <div class="col-md-12">
        <div id="info"></div>
        @using (Ajax.BeginForm("Create", "LeaveManage", null, new AjaxOptions { UpdateTargetId = "info", OnComplete = "hideForm" },
                        new { @class = "form-horizontal", role = "form", id = "editForm" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.LeaveDate, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.LeaveDate)
                    @Html.ValidationMessageFor(model => model.LeaveDate, "", new { @class = "text-danger" })
                    <span class="text-info" style="font-size:12px">若连续请假多日，只需要填第一天的日期</span>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PersonID, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.PersonID, ViewBag.PersonList as SelectList, new { @class = "form-control", @onchange="getRestTimes()" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LeaveDays, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.LeaveDays, new { @class = "form-control", @type = "number", @required = "required" })
                    @Html.ValidationMessageFor(model => model.LeaveDate, "", new { @class = "text-danger" })
                    <span class="text-info" style="font-size:12px">半天请填写0.5；大于1天系统会自动生成多条记录，请记得手动删除节假日</span>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IsDeducted, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">

                    <input id="IsDeductedBox" onclick="checkDays()" type="checkbox" />
                    <input id="IsDeducted" name="IsDeducted" type="hidden" value="false" />
                    <span class="text-info" style="font-size:12px">
                        &nbsp;仅请假半天可以用加班时间抵扣，加班满4小时可以抵扣一次，当前剩余可抵扣次数：<span id="restTimesLabel" style="color:red; font-weight:bold"></span>                        
                    </span>
                    <input type="hidden" name="RestTimes" id="RestTimes" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <input type="submit" value="新增" class="btn btn-primary" />
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="关闭" />
                </div>
            </div>
        }
    </div>
</div>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
