@using PagedList.Mvc
@model IEnumerable<MyTeam.Models.Target>
@{
    ViewBag.Title = "量化考核指标管理";
}
<h2>@ViewBag.Title</h2>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script language="javascript" type="text/javascript" src="~/Scripts/My97DatePicker/WdatePicker.js"></script>
<script>
    function doDelete(id, name) {
        $('#toDelName').html(name);
        $('#toDelId').val(id);
        $('#myModal').modal({ backdrop: 'static' });
    }

    function realDelete() {
        var id = $('#toDelId').val();
        var url = "/TargetManage/Delete/" + id;
        $.ajax({
            type: 'POST',
            url: url,
            success: function (msg) {
                $('#procResult').html(msg);

            },
            error: function () {
                $('#procResult').html("处理失败，请联系管理员");
            },
            complete: function () {
                $('#myModal2').modal({ backdrop: 'static' });
            }
        });
    }


    // 日期控件
    $(document).ready(function () {
        $("#year").val('@ViewBag.year');
    });

    // 在modal中编辑
    function doEdit(id, name) {
        $('#editName').html(name);
        var url = "/TargetManage/Edit/" + id;
        $.ajax({
            type: 'GET',
            url: url,
            success: function (msg) {
                $('#EditMain').html(msg);
            },
            error: function () {
                $('#EditMain').html("处理失败，请联系管理员");
            },
            complete: function () {
                $('#myModal3').modal({ backdrop: 'static' });
            }
        });
    }

    // 在modal中新增
    function doCreate(target) {
        var url = "/TargetManage/" + target;
        $.ajax({
            type: 'GET',
            url: url,
            success: function (msg) {
                $('#CreateMain').html(msg);
            },
            error: function () {
                $('#CreateMain').html("处理失败，请联系管理员");
            },
            complete: function () {
                $('#myModal4').modal({ backdrop: 'static' });
            }
        });
    }
</script>
<div class="row card">
    <div class="col-md-8">
        @using (Html.BeginForm("Index", "TargetManage", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Get,
                    new { @class = "form-horizontal", role = "form", id = "myForm" }))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <table class="table table-condensed query-table">
                <tr>
                    <td><label for="year" class="control-label">指标年度</label></td>
                    <!--年度-->
                    <td>
                        <input type="text" id="year" name="year" class="form-control Wdate datepicker" required="required" onclick="WdatePicker({ dateFmt: 'yyyy' })" placeholder="请选择年份" />
                    </td>
                    <td>
                        <input type="submit" value="查询" class="btn btn-primary" />
                        <input type="button" onclick="doCreate('Create')" class="btn btn-default" value="添加一条" />
                    </td>
                </tr>
            </table>
        }
    </div>
</div>
<div class="row card">
    <table class="table table-condensed table-bordered" style="font-size:12px;table-layout:fixed" width="100">
        <tr>
            <th width="15"></th>
            <th width="10">
                @Html.DisplayNameFor(model => model.TargetName)
            </th>
            <th width="35">
                @Html.DisplayNameFor(model => model.TargetDesc)
            </th>
            <th width="30">
                @Html.DisplayNameFor(model => model.TargetRule)
            </th>
            <th width="10">
                @Html.DisplayNameFor(model => model.TargetPoint)
            </th>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="###" onclick="doEdit('@item.TID','@item.TargetName')">编辑</a>
                    | <a href="###" onclick="doDelete('@item.TID','@item.TargetName')">删除</a>
                    | <a href="/TargetMission/Index?TID=@item.TID">相关工作任务</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TargetName)
                </td>
                <td>
                    @Html.Raw(item.TargetDesc)
                </td>
                <td>
                    @Html.Raw(item.TargetRule)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TargetPoint)
                </td>

            </tr>
        }
    </table>
    <!--分页-->
    @Html.PagedListPager(list: Model as PagedList.IPagedList<MyTeam.Models.Target>,
    generatePageUrl: Page => Url.Action("Index", new { pageNum = Page }))
</div>

<!-- 对话框1：确认删除 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    确认删除？
                </h4>
            </div>
            <div class="modal-body">
                确定要删除【<span id="toDelName"></span>】吗？
                <input type="hidden" id="toDelId" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    取消
                </button>
                <button type="button" class="btn btn-primary" onclick="realDelete()" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 对话框2：删除完成 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog"
     aria-labelledby="myModal2Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    处理结果
                </h4>
            </div>
            <div class="modal-body">
                <span id="procResult"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="javascript:window.location.reload()">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 对话框3：编辑页面 -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    【<span id="editName"></span>】量化考核指标编辑
                </h4>
            </div>
            <div class="modal-body">
                <div id="EditMain"></div>
            </div>
        </div>
    </div>
</div>

<!-- 对话框4：新增页面 -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    量化考核指标新增
                </h4>
            </div>
            <div class="modal-body">
                <div id="CreateMain"></div>
            </div>
        </div>
    </div>
</div>