@{Layout = null;}
@model MyTeam.Models.Ver

<script language="javascript" type="text/javascript" src="~/Scripts/My97DatePicker/WdatePicker.js"></script>
<script>
    // 日期控件
    $(document).ready(function () {
        $("#PublishTime").attr({ class: "form-control Wdate datepicker", onclick: "WdatePicker({ dateFmt: 'yyyy/M/d' })", placeholder: "点击选择日期" });
        $("#DraftTime").attr({ class: "form-control Wdate datepicker", onclick: "WdatePicker({ dateFmt: 'yyyy/M/d' })", placeholder: "点击选择日期" });
        $("#VerYear").attr({ class: "form-control Wdate datepicker", onclick: "WdatePicker({ dateFmt: 'yyyy' })", placeholder: "点击选择日期" });

    });

    function hideForm() {
        if ($('#info > p').attr('class') == 'alert alert-success')
            $('form').hide()
    }
</script>
<div class="row">
    <div class="col-md-12">
        <div id="info"></div>
        @using (Ajax.BeginForm("Create", "Ver", null, new AjaxOptions { UpdateTargetId = "info", OnComplete = "hideForm" },
                new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.SysId, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.SysId, ViewBag.SysList as SelectList, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.VerYear, new { @class = "col-md-3 control-label" })

                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.VerYear, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.VerYear, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ReleaseFreq, new { @class = "col-md-3 control-label" })

                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.ReleaseFreq, ViewBag.ReleaseFreqList as SelectList, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.PublishTime, new { @class = "col-md-3 control-label" })

                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.PublishTime, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PublishTime, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.VerNo, new { @class = "col-md-3 control-label" })

                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.VerNo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.VerNo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DraftTime, new { @class = "col-md-3 control-label" })

                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.DraftTime, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DraftTime, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DraftPersonID, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    <!--版本计划指定人下拉选择-->
                    @Html.DropDownListFor(model => model.DraftPersonID, ViewBag.ReqPersonList as SelectList, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.VerType, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    <select id="VerType" name="VerType" class="form-control">
                        <option value="补丁版本">补丁版本</option>
                        <option value="计划版本">计划版本</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Remark, new { @class = "col-md-3 control-label" })

                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.Remark, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <input type="submit" value="新增" class="btn btn-primary" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>                    
                </div>
            </div>

        }

    </div>
</div>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
