@using PagedList
@using PagedList.Mvc
@model MyTeam.Models.VerQuery
@{
    ViewBag.Title = "年度版本下发记录管理";
}
<h2>@ViewBag.Title。</h2>
<script language="javascript" type="text/javascript" src="~/Scripts/My97DatePicker/WdatePicker.js"></script>
<script>
    function doDelete(id, name) {
        $('#toDelName').html(name);
        $('#toDelId').val(id);
        $('#myModal').modal();
    }

    function realDelete() {
        var id = $('#toDelId').val();
        var url = "/Ver/Delete/" + id;
        $.ajax({
            type: 'POST',
            url: url,
            success: function (msg) {
                $('#procResult').html(msg);

            },
            error: function () {
                $('#procResult').html("处理失败，请联系管理员");
            },
            complete: function () {
                $('#myModal2').modal();
            }
        });
    }

    // 导出excel
    function doExport() {
        $('#isExcel').val(true);
        $('#myForm').submit();
        $('#isExcel').val(false);
    }
    
    // 日期控件
    $(document).ready(function () {
        $("#VerYear").attr({ class: "form-control Wdate datepicker", onclick: "WdatePicker({ dateFmt: 'yyyy' })", placeholder: "点击选择日期" });
    });

    // 在modal中编辑
    function doEdit(id, name) {
        $('#editName').html(name);
        var url = "/Ver/Edit/" + id;
        $.ajax({
            type: 'GET',
            url: url,
            success: function (msg) {
                $('#EditMain').html(msg);
            },
            error: function () {
                $('#EditMain').html("处理失败，请联系管理员");
            },
            complete: function () {
                $('#myModal3').modal();
            }
        });
    }
</script>
<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm("Index", "Ver", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Get,
                new { @class = "form-horizontal", role = "form", id = "myForm" }))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <input type="hidden" name="isQuery" value="True" />
            <input type="hidden" id="isExcel" name="isExcel" value="False" />

            <table class="table table-condensed query-table">
                <tr>
                    <td>@Html.LabelFor(model => model.SysId, new { @class = "control-label" })</td>
                    <td>
                        <!--项目下拉选择-->
                        @Html.DropDownListFor(model => model.SysId, ViewBag.sysList as SelectList, new { @class = "form-control" })
                    </td>
                    <td>@Html.LabelFor(model => model.VerYear, new { @class = "control-label" })</td>
                    <td>
                        <!--版本年度-->
                        @Html.TextBoxFor(model => model.VerYear, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.VerYear, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <input type="submit" value="查询" class="btn btn-primary" />
                        <input type="button" value="导出Excel" class="btn btn-default" onclick="doExport()" />
                        <input type="button" value="新增一条" class="btn btn-default" onclick="javascript:window.location.href='/Ver/Create'" />
                        <input type="button" value="批量制定版本计划" class="btn btn-default" onclick="javascript:window.location.href='/Ver/QuickVer'" />
                    </td>
                </tr>
            </table>
        }
    </div>
    <div class="col-md-12">
        @if (Model.ResultList != null)
        {
            if (Model.ResultList.Count < 1)
            {
                <p class="alert alert-warning">没有符合条件的结果！</p>
            }
            else
            {
                <table class="table table-condensed table-bordered" style="font-size:12px">
                    <tr>
                        <th></th>
                        <th>
                            @Html.DisplayNameFor(model => model.ResultList[0].SysId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ResultList[0].VerYear)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ResultList[0].ReleaseFreq)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ResultList[0].PublishTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ResultList[0].VerNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ResultList[0].DraftTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ResultList[0].DraftPersonID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ResultList[0].VerType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ResultList[0].Remark)
                        </th>
                    </tr>
                    @foreach (var item in Model.ResultList)
                    {
                        var trid = "resultTR" + item.VerID;
                        <tr id="@trid">
                            <td>
                                <a href="#" onclick="doEdit('@item.VerID','@item.SysName')">编辑</a> |
                                <a href="#" onclick="doDelete('@item.VerID','@item.SysName 的年度版本下发记录')">删除</a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SysName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.VerYear)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReleaseFreq)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PublishTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.VerNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DraftTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DraftPersonName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.VerType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Remark)
                            </td>
                        </tr>
                    }
                </table>
                @Html.PagedListPager(list: Model.ResultList as PagedList.IPagedList<MyTeam.Models.Ver>, generatePageUrl: Page => Url.Action("Index", new { pageNum = Page }) + Model.ToQueryString())
            }
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<!-- 对话框1：确认删除 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    确认删除？
                </h4>
            </div>
            <div class="modal-body">
                确定要删除【<span id="toDelName"></span>】吗？
                <input type="hidden" id="toDelId" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    取消
                </button>
                <button type="button" class="btn btn-primary" onclick="realDelete()" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 对话框2：删除完成 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog"
     aria-labelledby="myModal2Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    处理结果
                </h4>
            </div>
            <div class="modal-body">
                <span id="procResult"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="javascript:window.location.reload()">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 对话框3：编辑页面 -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    【<span id="editName"></span>】年度版本下发记录编辑
                </h4>
            </div>
            <div class="modal-body">
                <div id="EditMain"></div>
            </div>
        </div>
    </div>
</div>